<!DOCTYPE html>
<html lang="en">
   <head>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/lightslider.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" href="/css/base.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/reponsive.css">
      <link rel="stylesheet" href="/css/bookTour.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
         .mobie__socials {
         display: none !important;
         }
         .bookTour__icon {
         color: rgb(204, 204, 39);
         }
         .slider__img__contain div{
         height: 100%;
         }
         .slider__img__contain {
         height: 100%;
         }
         .tour__items  {
         background-color: #fff;
         }
         .page-link:focus {
         outline-style: none;
         box-shadow: none;
         border-color: transparent; 
         }
         .contain__icon__heart-product {
         top: 1.3rem;
         left: 1.3rem;
         }
         @media(max-width:600px) {
         .contain__icon__heart-product {
         top: 1rem;
         left: 1rem;
         }
         }   
         .fa-check {
         color: green
         }
         .warning__cancel-tour {
         padding-bottom: .5rem;
         border-bottom: .5px solid rgba(0,0,0,.1);
         }
      </style>
   </head>
   <body style="overflow-x : hidden;margin: 0;background-color: #f1f1f1;" onload="loadingFunction();">
      <div class="ontop" id="ontopbro" onclick="ontop()">
         <i class="fas fa-arrow-alt-circle-up"></i>
      </div>
      <input type="hidden" id="about">
      <div id="loading">
         <img src="/image/load.gif" alt="">
      </div>
      {{> header}}
      <div class="container-fluid" style="padding: 0;">
         <h1 class="pt-5 pb-5 text-center acc__management-til">Account management</h1>
         <div class="container">
            <ul class="row align-items-center justify-content-around account__nav-bar">
               <li>
                  <a href="/account/details">
                     <h5 id="firstNavAccount">Details account</h5>
                  </a>
               </li>
               <li>
                  <a href="/account/my-tour">
                     <h5 id="mytourNav"> My tour</h5>
                  </a>
               </li>
               <li>
                  <a href="/account/my-photographer">
                     <h5 id="myphotoNav">My photographer</h5>
                  </a>
               </li>
               <li>
                  <a href="/account/love-tour">
                     <h5 id="lovetourNav">
                        Love tour
                     </h5>
                  </a>
               </li>
            </ul>
         </div>
         <div class="container account__main-contain" id="account__contain-details">
            <div class="col-sm-8 account__formDetails">
               <form>
                  <div class="form-group">
                     <label for="exampleInputPassword1">First Name</label>
                     <input type="text" class="form-control" value="{{account.firstName}}">
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1">Last Name</label>
                     <input type="text" class="form-control" value="{{account.lastName}}">
                  </div>
                  <div class="form-group">
                     <label for="exampleInputEmail1">Email</label>
                     <input type="email" class="form-control" value="{{account.email}}">
                     <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1">Phone</label>
                     <input type="number" {{account.phone}} class="form-control">
                  </div>
                  <div class="form-group">
                     <label for="exampleInputPassword1">Address</label>
                     <input type="text" {{account.address}} class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
               </form>
               <a href="" class="text-danger mt-2" data-toggle="modal" data-target="#changePassModal">Change password !</a>
            </div>
         </div>
         <div class="container-fluid account__main-contain" id="account__contain-mytour">
             {{#each orders}}
                 <div class="table__row-item">
                     <div class="table__row-header">
                        <div class="row mr-l-0 justify-content-between align-items-center">
                             <h5 class="mb-0">Index : {{sum @index 1}}</h5>
                             <h5><a href="">See details order</a></h5>
                        </div>
                     </div>
                     <div class="table__row-body">
                         <div class="row mr-l-0">
                             <div class="col-md-5 mb-3 table-part-item-img">
                                   <div class="row mr-l-0 ">
                                       <div class="col-md-4 ">
                                            <div>
                                                <img src="/{{this.tourID.img}}" alt="" class="radius-7 w-100">
                                            </div>
                                       </div>
                                       <div class="col-md-8">
                                             <div>
                                                 <p>Tour name : <b>{{this.tourID.name}}</b></p>
                                                 <p>Start date : <b>{{this.tourDate}}</b></p>
                                                 <p>Book time : <b>{{formatDateDetails this.createdAt}}</b></p>
                                                 <p>Start place : <b>{{this.tourID.startPlace}}</b></p>
                                             </div>
                                       </div>
                                   </div>
                             </div>
                             <div class="col-md-5 mb-3">
                                    <div>
                                        <p>Photographer : <b>{{this.photographer}}</b></p>
                                        <p>Singer tour : <b>{{this.singerTour}}</b></p>
                                        <p>Total price : <b>{{this.totalPrice}}$</b></p>
                                        <p>Status : <b><span class="statusOrder">{{this.status}}</span></b></p>
                                   </div>
                             </div>
                             <div class="col-lg-2 mb-3">
                                     <a href="/tours/{{this.tourID.slug}}" class="btn btn-success btn-sm mb-2">Book tour again</a>
                                     {{{checkCancelOrder this.status this._id}}}
                             </div>
                         </div>
                     </div>
                 </div>
             {{else}}
                <h1 class="mt-5">You don't have order tour . <a href="/outTour.html">Book tour now !</a> </h1>
             {{/each}}
          
         </div>
         <div class="container-fluid account__main-contain" id="account__contain-myphoto">
             <div class="table__row-list">
                 <div class="table__row-item">
                     <div class="table__row-header">
                        <div class="row mr-l-0 justify-content-between align-items-center">
                             <h5 class="mb-0">Index : 1 </h5>
                             <h5><a href="">See details order</a></h5>
                        </div>
                     </div>
                     <div class="table__row-body">
                         <div class="row mr-l-0">
                             <div class="col-md-5 mb-3 table-part-item-img">
                                   <div class="row mr-l-0 ">
                                       <div class="col-md-4 ">
                                            <div>
                                                <img src="/image/Photographer-in-Hanoi-profile.jpg" alt="" class="radius-7 w-100">
                                            </div>
                                       </div>
                                       <div class="col-md-8">
                                             <div>
                                                 <p>Name : <b></b>Nguyen Thanh Nam</b></p>
                                                 <p>Photo date : <b>09/10/2111</b></p>
                                             </div>
                                       </div>
                                   </div>
                             </div>
                             <div class="col-md-5 mb-3">
                                    <div>
                                        <p>Book time : <b>8:5:3 01/01/2111</b></p>
                                        <p>Photo place : <b>Da nang</b></p>
                                        <p>Price : <b>10$/h</b></p>
                                   </div>
                             </div>
                             <div class="col-lg-2 mb-3">
                                     <a href="/tours/{{this.slug}}" class="btn btn-success btn-sm mb-2  ">Details photographer</a>
                                     <a href=""  class=" mb-2 btn btn-danger btn-sm" data-id="{{this._id}}"  data-toggle="modal" data-target="#cancel-tour">Cancel</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
           
         </div>
         <div class="container-fluid account__main-contain" id="account__contain-lovetour">
            <div id="contain__list-tour" >
               <div class="container account__contain-tourItems  d-flex justify-content-center" >
                  <div class="col-lg-10">
                     {{#each listSearch}}
                     <div class="row tour__items ">
                        <div class="col-5">
                           <div id="slider{{this.slug}}" class="carousel slide slider__img__contain" data-ride="carousel" >
                              <div class="carousel-inner">
                                 <div  class="carousel-item active">
                                    <div class="carousel__background-slider" style="background-image: url('/{{this.img1}}');" alt="First slide">
                                    </div>
                                 </div>
                                 <div  class="carousel-item">
                                    <div class="carousel__background-slider" style="background-image: url('/{{this.img2}}');" alt="Second slide">
                                    </div>
                                 </div>
                                 <div  class="carousel-item">
                                    <div class="carousel__background-slider" style="background-image: url('/{{this.img3}}');" alt="Third slide">
                                    </div>
                                 </div>
                              </div>
                              <a class="carousel-control-prev" href="#slider{{this.slug}}" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#slider{{this.slug}}" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                              </a>
                           </div>
                        </div>
                        <div class="col-7" style="display: flex;align-items: center;">
                           <div class="col-12">
                              <h4 style="color: #999;margin-bottom: 0;">{{this.name}}</h4>
                              <p>Journeys : <span class="ml-2" style="color: #1e90ff;">{{this.time}}</span> </p>
                              <div class="row col-12">
                                 <div class="time">Time :    </div>
                                 <div class="time__content ml-2" style="color: #1e90ff;">{{this.time}}</div>
                              </div>
                              <p>Start : <span class="ml-2" style="color: #1e90ff;">{{formatDate this.startDay}}</span></p>
                              <p>4.44/5 <b>In</b> 395 <b>Rate</b></p>
                              <div class="row mt-1">
                                 <a href="/tours/{{this.slug}}" class="btn_btn btn btn__details ml-3">
                                 <i class="fas fa-info-circle"></i>
                                 Details
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="tour__items__price">
                           <h4>Price : {{this.price}} $</h4>
                        </div>
                        <div class="contain__icon__heart-product">
                           <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482">
                              <g filter="url(#icon_heart_svg__filter0_d)">
                                 <path class="heart__icon heart__pink" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              </g>
                              <defs>
                                 <filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                    <feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
                                    <feOffset dy="3"></feOffset>
                                    <feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
                                    <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix>
                                    <feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
                                    <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
                                 </filter>
                              </defs>
                           </svg>
                        </div>
                     </div>
                     {{else}}
                     Not have love tour
                     {{/each}}
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{!-- modal change pass  --}}
      <div class="modal " tabindex="-1" id="changePassModal" >
         <div class="modal-dialog " style="max-width: 500px;top:50%;transform: translateY(-50%);">
            <div class="modal-content">
               <div class="modal-body">
                  <form action="">
                     <div class="form-group">
                        <label for="exampleInputPassword1">Old password</label>
                        <input type="password" class="form-control">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputPassword1">New password</label>
                        <input type="password" class="form-control">
                     </div>
                     <div class="form-group">
                        <label for="exampleInputPassword1">New password repeat</label>
                        <input type="password" class="form-control">
                     </div>
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
               </div>
            </div>
         </div>
      </div>
      {{!-- close modal  --}}
      {{!-- modal cancel tour  --}}
      <div class="modal " tabindex="-1" id="cancelTourModal" >
         <div class="modal-dialog " style="max-width: 600px">
            <div class="modal-content">
               <div class="modal-body">
                  <h4 class="text-danger warning__cancel-tour">Are you sure you want to cancel this tour? The amount of your refund will be calculated according to our terms!</h4>
                  <p><i class="fas fa-check"></i> Transfer to other tourist routes 20 days before departure date: No cost.</p>
                  <p><i class="fas fa-check"></i> If canceling or changing to other tours immediately after registration arrives 15-19 days before departure: Tour cancellation cost: 50% of tour deposit.</p>
                  <p><i class="fas fa-check"></i> If canceling or changing to other tours from 12-14 days before departure date: Tour cancellation cost: 100% tour deposit.</p>
                  <p><i class="fas fa-check"></i> If the tour is canceled within 08-11 days before the departure date: Tour cancellation cost: 50% of the tour price.</p>
                  <p><i class="fas fa-check"></i> If the tour is canceled within 05-07 days before the departure date: Tour cancellation cost: 70% of the tour price.</p>
                  <p><i class="fas fa-check"></i> If the tour is canceled within 02-04 days before the departure date: Tour cancellation cost: 90% of the tour fare.</p>
                  <p><i class="fas fa-check"></i> If the tour is canceled within 1 day before the departure date: Tour cancellation cost: 100% of the tour fare.</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" onclick="cancelTourFunc()">Confirm</button>
               </div>
            </div>
         </div>
      </div>
      {{!-- close modal  --}}
      {{> footer}}
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/lightslider.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/app2.js"></script>
      <script>
         AOS.init();
          var listStatus = $('.statusOrder');
          for(let i = 0; i < listStatus.length;i++) {
             if(listStatus[i].textContent === 'paid')           
                 listStatus[i].style.color = 'green'
             else if(listStatus[i].textContent === 'unpaid')           
                 listStatus[i].style.color = 'orange'
            else        
                 listStatus[i].style.color = 'red'
          }
         if(location.href.includes('details'))
            {
            $('#firstNavAccount').css({'text-decoration':'line-through','color':'#01b3a7'});
            $('#account__contain-details').addClass('display__block');
            }
         if(location.href.includes('my-tour')) 
            {
            $('#mytourNav').css({'text-decoration':'line-through','color':'#01b3a7'});
            $('#account__contain-mytour').addClass('display__block');
            }
         if(location.href.includes('my-photographer')) 
            {
            $('#myphotoNav').css({'text-decoration':'line-through','color':'#01b3a7'});
            $('#account__contain-myphoto').addClass('display__block');
            }
         if(location.href.includes('love-tour')) 
            {
            $('#lovetourNav').css({'text-decoration':'line-through','color':'#01b3a7'});
            $('#account__contain-lovetour').addClass('display__block');
            }
         
         var list__account__nav =  $('.account__nav-bar h5');
         list__account__nav.click(function() {
             list__account__nav.css({'text-decoration':'none','color':'#565656'})
             $(this).css({'text-decoration':'line-through','color':'#01b3a7'});
         })
         
         var idOrder;
         $('#cancelTourModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
             idOrder = button.data('id') 
         })
         function cancelTourFunc() {
             $.post('/api/order?_method=PUT',{id : idOrder},function (res) {
                 if(res.message === 'canceled')
                    window.location.href = res.link
             });
         }
      </script>
   </body>
</html>