<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
<head>
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <link rel="stylesheet" href="\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/lightslider.css"/>
    <link rel="stylesheet" href="/css/voiceSearch.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reponsive.css">
    <link rel="stylesheet" href="/css/bookTour.css">
     
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tour,du lich,tour du lich,travel,trip,viet nam trip,viet nam tour">
    <meta name="description" content="wonder tour , website provide the best travel service in Vietnam">
     <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
    <meta name="author" content="i am nguyen ngoc khanh ">

    <title>Wonder Place</title>
    <style>
        
    </style>
</head>
<body style="overflow-x : hidden;margin: 0;" >

    <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>

    <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>

    <div class="first__advantage">
        <div class="first__advantage-contain">
            <i class="fas fa-times first__advantage-close"></i>
            <div class="first__advantage-img">
                <img src="/img/first__ad.webp" alt="">
            </div>
            <div class="first__advatage-info">
                 <h1 class="mt-3"><b>FREE Tour Bonus</b></h1>
                 <h3><b>Up to 50$ !</b></h3>
                 <h5>Enter your email and get bonus now</h5>
                 <input type="text" placeholder="Enter your email address here..."> <br>
                 <button class="btn-secondary btn mt-3 first__advantage-close">Yes give me bonus <i class="fas fa-gift"></i></button>
            </div>
        </div>
    </div>

           {{> header}}
             
            
             <div class="col-5 container__findTour" id="containFindTour">
       <h4>Serch by voice</h4>
       <div class="searchByVoice" id="seachByVoice">
         	<div>
                <form action="/search?" id="form-search">
                        <div>
                    <span class="form-search-icon">
                   <i class="fas fa-search"></i>
                    </span>
                    <input type="text" name="search" class="text-search" placeholder="Search Tour...">
                    <input type="hidden" name="fromDate">
                    <input type="hidden" name="toDate">
                    <span class="form-message">
                        You can click micro or speak <strong>"tìm kiếm"</strong> or <strong>"go"</strong> to search.
                        To reset input, you can speak <strong>"làm mới"</strong> or <strong>"clear"</strong>.
                        The function only supports tour search.
                        Wish you have a pleasant experience !
                    </span> 
                        </div>
                       
                </form>
	</div>
   </div>
        
       <h4 class=" mt-3">Manual search</h4>

     <div class="find__tour">
        <form action="/search">
          

            <div class="form-group" >
                <label for="sel1">  Destinations :</label>
                <select class="form-control" style="border-radius: 15px;" name="search">
                   {{#each cityDestinations}}
                   <option value="{{this.city}}">{{this.city}}</option>
                   {{/each}}
                </select>
            </div>

        <div class="form-group">
       <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
                <label for="sel1">Depart date</label>
                 <input type="date" name="fromDate" class="w-100">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
                <label for="sel1">Duration</label>
                 <input type="date" name="toDate" class="w-100">
            </div>
          </div>
        </div>
    </div>

            <button type="submit" style="border: none;" class="btn btn-background-slide">Check available</button>
          </form>
     </div>
      
     <div class="container__findTour__opencls">
         <h4 data-i18n="slider.find">Find Your Tour</h4>
     </div>
    
   </div>

   

    <div class="container-fluid background__slider">

        <div class="row">

           
            <!-- End of Col-md-12 -->

            <div id="carouselExample" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">

                    <li data-target="#carouselExample" data-slide-to="0" class="active">

                        <img class="d-block w-100 h-100" src="image/img1.jpg" alt="First slide">

                    </li>

                    <li data-target="#carouselExample" data-slide-to="1">

                        <img class="d-block w-100 h-100" src="image/img2.jpg" alt="Second slide">

                    </li>

                    <li data-target="#carouselExample" data-slide-to="2">

                        <img class="d-block w-100 h-100" src="image/img3.jpg" alt="Third slide">

                    </li>

                </ol>
                <!-- Carousel Indicators -->

                <div class="carousel-inner">

                    <div class="carousel-item active">

                        <img class="d-block w-100" src="image/img1.jpg" alt="First slide">

                        <div class="carousel-caption">
                            
                            <h6  class="contain__background-image-info-h6" data-i18n="slider.3Contain"></h6>
                            <h1  class="contain__background-image-info-h1" data-i18n="slider.3Title"></h1>
        
                        </div>

                    </div>
                    <!-- Carousel Item 1 -->

                    <div class="carousel-item">

                        <img class="d-block w-100" src="image/img2.jpg" alt="Second slide">

                        <div class="carousel-caption">

                            <h6  class="contain__background-image-info-h6" data-i18n="slider.1Contain"></h6>
                            <h1  class="contain__background-image-info-h1" data-i18n="slider.1Title"></h1>
        

                        </div>

                    </div>
                    <!-- Carousel Item 2 -->

                    <div class="carousel-item">

                        <img class="d-block w-100" src="image/img3.jpg" alt="Third slide">

                        <div class="carousel-caption">

                            <h6  class="contain__background-image-info-h6" data-i18n="slider.2Contain"></h6>
                            <h1  class="contain__background-image-info-h1" data-i18n="slider.2Title"></h1>
                          
        

                        </div>

                    </div>
                    <!-- Carousel Item 3 -->

                </div>

                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">

                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                    <span class="sr-only">Previous</span>

                </a>
                <!-- Carousel Control Prev -->

                <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">

                    <span class="carousel-control-next-icon" aria-hidden="true"></span>

                    <span class="sr-only">Next</span>

                </a>
                <!-- Carousel Control Next -->

            </div>


        </div>
        <!-- End of Row -->

    </div>


    
    <div class="contain" id="index">
        <!-- open container slider  -->
     
  <!-- close container slider  -->
         <div class="contain__other-tour"  data-aos-duration="1000" data-aos="zoom-in">
             
             <div class="contain__other-tour-img">
                   <div class="hover14 column contain__img__img">
                 <a class="contain__other-tour-img-link">
                     <figure>
                         <img src="./image/baloon1.jpg" alt=""> 
                          <h3 data-i18n="slider.Balloon"></h3>
                     </figure>
                   
                 </a>
           </div> 
           <div class="hover14 column contain__img__img">
                 <a class="contain__other-tour-img-link">
                      <figure> <img src="./image/moutain.jpg" alt=""><h3 data-i18n="slider.Mountain"></h3></figure>
                    
                </a>
          </div>
           <div class="hover14 column contain__img__img">
                <a class="contain__other-tour-img-link">
                     <figure>

                    <img src="https://media.travelmag.vn/files/kieutrang/2020/05/20/72392271_178758406634802_3697464712968971112_n-1337.jpeg" alt="">
                    <h3 data-i18n="slider.Beach"></h3>
                     </figure>
                   
                </a>
           </div>

             </div>

             <a href="#" class="contain__other-tuar-more" data-i18n="slider.OtherTours">
                
             </a>
         </div>

         <div class="tam" >

        <div class="contain__discover">
                 
                 <div class="contain__discover-include-img" id="contain__discover-include-img-id"  data-aos-duration="1300" data-aos="fade-left">
                   
                        
                    <img src="https://cdn.theculturetrip.com/wp-content/uploads/2018/01/shutterstock_465281915.jpg" alt="">

                
                 </div>

                 
    
                 <div class="contain__discover-info" id="contain__discover-info-id"  data-aos-duration="1300" data-aos="fade-right">
                     <h1 data-i18n="Discover.title"></h1>
                     <div class="contain__discover-info-detail">
                         <ul class="contain__discover-info-detail-list">
                             <li class="contain__discover-info-detail-item"><button class="contain__discover-list-button"  id="contain__discover-aboutUs" data-i18n="Discover.about" onclick="ButtonABOUTUS()"></button></li>
                             <li class="contain__discover-info-detail-item"><button class="contain__discover-list-button"  id="contain__discover-chosseUs" data-i18n="Discover.why" onclick="ButtonchosseUs()"></button></li>
                             <li class="contain__discover-info-detail-item"><button class="contain__discover-list-button"  id="contain__discover-Mission" data-i18n="Discover.mission" onclick="ButtonMission()"></button></li>
                         </ul>
                         <p class="contain__discover-info-detail-para-one"><p id="contain__discover-info-detail-para" style="display: inline;" data-i18n="Discover.aboutContent"></p> <span style="opacity: 1;
                               display: inline;" id="contain__discover-info-dots">...</span>
                              <span style="display: none;" id="contain__discover-info-readmore" data-i18n="Discover.missionContent"></span>
                              </p>

                         <div class="contain__discover-info-detail-but">
                             <a href="" class="btn btn-background-slide " data-i18n="Discover.getTouch">Get in touch</a>
                             <button onclick="readmoreAndLess()"  id="contain__discover-but-readmore" class="contain__discover-info-detail-readmor btn btn-background-slide " data-i18n="Discover.read">
                                 Read more
                             </button>
                         </div>
                        </div>
                 </div>
        </div>

        

         </div>

         <div class="contain__service" >
             <h1 class="contain__service-title"  data-i18n="SERVICE.title"></h1>
             <div class="contain__service-include " >
                <div class="contain__service-include-content row">

                        <div class="contain__service-include-detial ">
                            <i class="far fa-thumbs-up"></i>
                            <div class="contain__service-include-para">
                                 <h3 data-i18n="SERVICE.SERVICE1">Personalized Matching</h3>
                                <h6 data-i18n="SERVICE.SERVICE11">Our unique matching system lets you find just the tour you want for your next holiday.</h6>
                            </div>
                        </div>
                 

                    <div class="contain__service-include-detial ">
                        <i class="fas fa-award"></i>
                        <div class="contain__service-include-para">
                             <h3 data-i18n="SERVICE.SERVICE2">Wide Variety of Tours</h3>
                            <h6 data-i18n="SERVICE.SERVICE22">We offer a wide variety of personally picked tours with destinations all over the globe.</h6>
                        </div>
                    </div>

                    <div class="contain__service-include-detial ">
                        <i class="far fa-star"></i>
                        <div class="contain__service-include-para">
                             <h3 data-i18n="SERVICE.SERVICE3">Qualified Service</h3>
                            <h6  data-i18n="SERVICE.SERVICE33">Our tour managers are qualified, skilled, and friendly to bring you the best service.</h6>
                        </div>
                    </div>

                    <div class="contain__service-include-detial ">
                        <i class="fas fa-headset"></i>
                        <div class="contain__service-include-para">
                            <h3 data-i18n="SERVICE.SERVICE4">24/7 Support</h3>
                            <h6 data-i18n="SERVICE.SERVICE44">You can always 44et professional support from our staff 24/7 and ask any question you have.</h6>
                        </div>
                    </div>

                    <div class="contain__service-include-detial ">
                        <i class="fas fa-fire"></i>
                        <div class="contain__service-include-para">
                            <h3 data-i18n="SERVICE.SERVICE5">Handpicked Hotels</h3>
                            <h6 data-i18n="SERVICE.SERVICE55">Our team offers only the best selection of affordable and luxury hotels to our clients.</h6>
                        </div>
                    </div>
                    

                    <div class="contain__service-include-detial ">
                        <i class="fas fa-wallet"></i>
                        <div class="contain__service-include-para">
                            <h3 data-i18n="SERVICE.SERVICE6">Best Price Guarantee</h3>
                            <h6 data-i18n="SERVICE.SERVICE66">If you find tours that are cheaper than ours, we will compensate the difference.</h6>
                        </div>
                    </div>
                </div>
             </div>
         </div>
   {{!-- tesst --}}
                <div class="contain__hotTour-title mt-5 mb-4">
                                   <h5 data-i18n="SERVICE.Choose"></h5>
                                <h1  id="contain__hotTour-title-id" data-i18n="SERVICE.Pefect"></h1>
                </div>
                 <div class="d-flex align-items-center justify-content-end pr-4">
                      <button type="button" id="goToPrevSlide"><i class="fas fa-hand-point-left"></i></button>
                       <button type="button" id="goToNextSlide" class="ml-1"><i class="fas fa-hand-point-right"></i></button>
                 </div>
     	<div class="container-fluid pl-4 pr-4 mt-4 mb-5 slider__hottour" style="">
	
		<ul id="autoWidth" class="cs-hidden">
		
       {{#each tours}}

		<li class="item-a">
			
            <div class="box">
			  
                    <div class="cardd" style="background-image: url({{this.img}});">
        <div class="cardd-body">
            <h2 class="cardd-title">{{this.name}}</h2>
            {{!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga placeat odio pariatur doloribus sint?</p> --}}
            <div class="card__info">
                <div class="contain__hotTour-infomation-rate">
                    <div class="contain__hotTour-infomation-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                      <p style="margin-bottom: 0;">4 customer reviews</p>
                </div>
                <p style="margin-bottom: 0;">Time long : <span style="color: #4da3ff;">{{this.time}}</span></p>
                <p style="margin-bottom: 0;">Start place : <span style="color: #4da3ff;">{{this.startPlace}}</span></p>
                <p style="margin-bottom: 0;">Remaining tours : <span style="color: #4da3ff;">{{this.countLeft}}</span></p>
                <p style="margin-bottom: 0;">Transport : <span style="color: #4da3ff;"><i class="fas fa-plane-departure mr-1"></i>  Plane</span></p>
                {{!-- <p style="margin-bottom: 0;">Hotel : <span style="color: #4da3ff;">Hotel 5 <i class="fas fa-star ml-1"></i></span></p>
                <p style="margin-bottom: 0;">Meal : <span style="color: #4da3ff;"><i class="fas fa-concierge-bell mr-1"></i>Free meal</span></p> --}}
                 <div class="contain__hotTour-infomation-rate">
                      <p style="margin-bottom: 0;">Share on : </p>
                    <div class="contain__hotTour-infomation-star">
                      
                        <a href="" class="ml-1 mr-1"> <i style="color: blue;" class="fab fa-facebook"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(0, 162, 255);" class="fab fa-twitter"></i> </a>
                   
                    </div>
                </div>
              
            </div>
            <a href="/tours/{{this.slug}}" class="button mt-2">Details</a>
        </div>
        <div class="cardd-price-tour">{{this.price}}$</div>
        <div class="contain__icon__heart-product">
          <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482"><g filter="url(#icon_heart_svg__filter0_d)"><path class="heart__icon" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="3"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend></filter></defs></svg>
        </div>
        </div>
		</div>	  
			
		</li>

       {{/each}}
		
		</ul>
			
			
	
	
	</div>
	
          {{!-- close tesst --}}
     
         <div class="contain__people-mission" >
           
                 <h1  data-aos-duration="1300" data-aos="fade-right">Different People — One Mission</h1>
                 <div class="contain__people-list">
                 

                 <div class="contain__people-mission-content" >
                    <h3 class="contain__people-name">Kim Jong Ui</h3>
                    <p class="contain__people-position">Developer</p>
                    <a href="tel:+8494506419" class="contain__people-tell">+84 945 806 419<a>
                      
                    <div class="contain__people-include-img" ></div>
                        <img class="contain__people-include-img-img" src="./image/avatar.jpg" alt="">
                 </div>

                 <div class="contain__people-mission-content" >
                    <h3 class="contain__people-name">Phan Hồ Nhi</h3>
                    <p class="contain__people-position">Designer</p>
                    <a href="tel:+8494506419" class="contain__people-tell">+84 945 806 419</a>
                      
                    <div class="contain__people-include-img"></div>
                        <img class="contain__people-include-img-img" src="./image/avater2.jpg" alt="">
                 </div>

                 <div class="contain__people-mission-content" >
                    <h3 class="contain__people-name">John Shoobean Loope</h3>
                    <p class="contain__people-position">Management</p>
                    <a  href="tel:+8494506419" class="contain__people-tell">+84 945 806 419</a>
                      
                    <div class="contain__people-include-img"></div>
                    
                        <img class="contain__people-include-img-img" src="./image/lekhanhduong.png" alt="">
                 </div>

                 <div class="contain__people-mission-content" >
                    <h3 class="contain__people-name">Nguyễn Ngọc Khánh</h3>
                    <p class="contain__people-position">Founder, Owner</p>
                    <a href="tel:+8494506419" class="contain__people-tell">+84 945 806 419</a>
                      
                    <div class="contain__people-include-img"></div>
                        <img class="contain__people-include-img-img" src="https://i.pinimg.com/236x/c7/4a/fe/c74afe7a1b5c13e4556749b17073fb25.jpg" alt="">
                 </div>
              
             </div>

    </div>

      

    <div class="contain__impression" style="  background-image: url(./image/impression.jpg);">
        <div class="contain__impression-include">

            <h1 class="contain__impression-h1"  data-aos-duration="1300" data-aos="fade-up-left">First-class Impressions <br>
                are Waiting for You!</h1>

             <p class="contain__impression-p"  data-aos-duration="1300" data-aos="fade-up-right">Our agency offers travelers various tours and excursions with
                  destinations all over the world. <br> Browse our website to find your dream tour!
            </p>
           
            <a href="" class="btn  contain__background-image-info-a contain__impression-btn">Book a tour</a>
        </div>
    </div>

    <div class="contain__what-say"  data-aos-duration="1300" data-aos="fade-up">
        <h1 class="contain__what-say-title" >What people say</h1>
        <div class="contain__what-say-include">

            <div class="contain__what-say-content"  data-aos-duration="1300" data-aos="fade-left">
                <p>In the journey of traveling to the West, I like and am very satisfied "happy and joyful" because the guide Nguyen Ngoc Khanh  is very dedicated, lovely and sociable to connect people together. It can be said that this is the most satisfying, interesting and meaningful trip.</p>
                <h2>John Shooben</h2>

                <div class="contain__what-say-include-img"  data-aos-duration="1300" data-aos="fade-left">
                    <img src="./image/nhanxet1.png" alt="" class="contain__what-say-img">
                </div>
            </div>

            <div class="contain__what-say-content"  data-aos-duration="1300" data-aos="fade-left">
                <p>In the journey of traveling to the West, I like and am very satisfied "happy and joyful" because the guide Nguyen Ngoc Khanh  is very dedicated, lovely and sociable to connect people together. It can be said that this is the most satisfying, interesting and meaningful trip.</p>
                <h2>Le Linh Chi</h2>

                <div class="contain__what-say-include-img"  data-aos-duration="1300" data-aos="fade-left">
                    <img src="./image/gaixinh1.jpg" alt="" class="contain__what-say-img">
                </div>
            </div>

            <div class="contain__what-say-content"  data-aos-duration="1300" data-aos="fade-left">
                <p>In the journey of traveling to the West, I like and am very satisfied "happy and joyful" because the guide Nguyen Ngoc Khanh  is very dedicated, lovely and sociable to connect people together. It can be said that this is the most satisfying, interesting and meaningful trip.</p>
                <h2>Cecily Sinh</h2>

                <div class="contain__what-say-include-img"  data-aos-duration="1300" data-aos="fade-left">
                    <img src="./image/gaixinh3.jpg" alt="" class="contain__what-say-img">
                </div>
            </div>

          
        </div>

    </div>

    <h2 class="contain__counter-title"  data-aos-duration="1300" data-aos="fade-right">Time For Following The Dream</h2>
    <div class="contain__counter">
        
     <div class="contain__counter-awards"  data-aos-duration="1300" data-aos="flip-right">
       <img src="./image/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2.png" alt="">
    <div class="contain__counter-info">
        <h1 class="contain__counter-awards-number counter">320</h1>
        <p class="contain__counter--decrip">International <br> Awards</p>
    </div>
     </div>
     <div class="contain__counter-happyTravel"  data-aos-duration="1300" data-aos="flip-right">
        <img src="./image/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2.png" alt="">
        <div class="contain__counter-info">
            <div class="contain__counter-include-happy">
                <h1 class="contain__counter-happyTravel-number counter">500</h1>
                <h1 style="margin-left: 3px;">+</h1>
            </div>
        <p class="contain__counter--decrip">Happy <br> Travels</p>
        </div>
     </div>
     <div class="contain__counter-team"  data-aos-duration="1300" data-aos="flip-right">
        <img src="./image/tong-hop-hinh-nen-background-vector-designer-dep-do-phan-giai-fhd-2k-4k-moi-nhat-2.png" alt="">
        <div class="contain__counter-info">
            <h1 class="contain__counter-team-number counter">420</h1>   
        <p class="contain__counter--decrip">Team <br> Members</p>
        </div>
     </div>
    </div>
    </div>

         	<div id="fh5co-blog-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row justify-content-center fh5co-blog__title" >
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box" >
						<h1>Recent From Blog</h1>
						<p>Travel blog synthesizes travel experiences, destinations, delicious food. Travel blog will bring you the most accurate and complete information.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-bottom-padded-md">
				
					<div class="col-lg-4 col-md-4 col-sm-6" >
						<div class="fh5co-blog animate-box">
							<a href="/blog"><img class="img-responsive" src="https://thumbs.dreamstime.com/z/vacation-planning-concept-25813879.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="/blog">Planning for Vacation</a></h3>
									<span class="posted_by">Sep. 10th</span>
									<span class="comment"><a href="">10<i class="icon-bubble2"></i></a></span>
									<p class="text-muted">If you’re planning a holiday, learn this essential vocabulary for types of holiday and holiday preparation.</p>
									<p><a href="/blog">Read More...</a></p>
								</div>
							</div> 
						</div>
					</div>
                    	<div class="col-lg-4 col-md-4 col-sm-6" >
						<div class="fh5co-blog animate-box">
							<a href="/blog"><img class="img-responsive" src="image/blog2.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="/blog">30% Discount to Travel All Around the World</a></h3>
									<span class="posted_by">Sep. 15th</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p class="text-muted">Discover all the fun activities and best things to do in Sentosa Island, Singapore from beaches to massive aquarium and exciting theme park.</p>
									<p><a href="/blog">Read More...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-lg-4 col-md-4 col-sm-6"  >
						<div class="fh5co-blog animate-box">
							<a href="/blog"><img class="img-responsive" src="https://imgcp.aacdn.jp/img-a/1720/auto/global-aaj-front/article/2017/06/595048184fa06_5950474045019_1189093891.jpg" alt=""></a>
							<div class="blog-text">
								<div class="prod-title">
									<h3><a href="/blog">Visit Tokyo Japan</a></h3>
									<span class="posted_by">Sep. 15th</span>
									<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
									<p class="text-muted">Discover the best time to visit Tokyo with this COMPLETE weather guide including the best months to travel, when to go & what to wear in 2021 .</p>
									<p><a href="/blog">Read More...</a></p>
								</div>
							</div> 
						</div>
					</div>
					<div class="clearfix visible-md-block"></div>
				</div>

				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-background-slide " href="#">See All Post <i class="icon-arrow-right22"></i></a></p>
				</div>

			</div>
		</div>

            
 
           {{> footer}}
  
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/lightslider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/1.11.1/i18next.min.js"></script>
  <script src="/js/voiceSearch.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/app2.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/jquery.countup.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
   
   
        // first adv
   setTimeout(function() {
      $('.first__advantage').addClass('display__flex')
   },8000)
    $('.first__advantage-close').click(function() {
      $('.first__advantage').removeClass('display__flex')
    })
	// JavaScript Document

     

  var slider =  $('#autoWidth').lightSlider({
        autoWidth:true,
          auto : true,
          speed:1000,
       
            pauseOnHover: true,
          pause:  4000,
        loop:true,
        onSliderLoad: function() {
            $('#autoWidth').removeClass('cS-hidden');
        } 
    });  

  $('#goToPrevSlide').on('click', function () {
    slider.goToPrevSlide();
});
$('#goToNextSlide').on('click', function () {
    slider.goToNextSlide();
});

  $('.counter').countUp({
  'time': 2000,
  'delay': 10
});

  
 
  </script>
 
</body>
</html>