<!DOCTYPE html>
<html lang="en">
   <head>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href=".\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" type="text/css" href="/css/base.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" type="text/css" href="/css/reponsive.css">
      <link rel="stylesheet"  href="/css/bookTour.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wonder Place</title>
      <style>
        .displayListPhotographer {
           display: none;
        }
      </style>
   </head>
   <body style="overflow-x : hidden;margin: 0; background-color: #ededed;">
       <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>
     <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>
     <div class="first__advantage">
         <div class="bookTour__success">
            <i class="fas fa-times bookTour__success-close"></i>
              <div class="bookTour__success-icon text-center">
                 <i class="fas fa-check-circle"></i>
              </div>
              <div class="text-center bookTour__success__header">
                  <h4 class="mt-2"><b>Successfully submitted tour request</b></h4>
              <div class="d-flex justify-content-center"> <h5 class="code__tour-order">Code order : T65774</h5></div>
               <p class="text-muted">Wonder tour will call you in the room in 30 minutes to confirm and payment instructions</p>
              </div>
            
              <div>
                <h5 class="mt-4"><b>{{tour.name}}</b></h5>
                <div class="contain__hotTour-infomation-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="d-flex align-items-center bookTour__success-body">
                     <div class="col-7" style="padding-left: 0;">
                         <p>Start date : <b>{{formatDateDetails tour.startDay}}</b></p>
                         <p>Start place : <b>{{tour.startPlace}}</b></p>
                         <p>Time long : <b>{{tour.time}}</b></p>
                         <p>Photographer : <b class="bill__photo">none</b></p>
                         <p>Singer tour : <b class="bill__singer">none</b></p>
                     </div>
                     <div class="col-5">
                        <img src="/{{tour.img}}" class="w-100" alt="">
                     </div>
                    </div>   
                    <div class="book__success-foot">
                       <div class="d-flex justify-content-between">
                         <p>Adult number : <b class="bill__adult-number">5</b></p>
                         <p><b class="bill__adult-price">50$</b></p>
                       </div>
                       <div class="d-flex justify-content-between">
                           <p>Children number : <b class="bill__children-number">5</b></p>
                           <p><b class="bill__children-price">50$</b></p>
                       </div>
                        <div class="justify-content-between bill__singerTour">
                          <p class="">Singer tour : +150$</p>
                           <p><b>$150</b></p>
                       </div>
                    </div>           
                  <div class="mt-2">
                     <p><b>Total</b></p>
                     <div class="d-flex align-items-center justify-content-between pb-2" style="border-bottom: 1px solid rgb(219, 214, 214);">
                         <p class="text-muted">Including taxes, fees, VAT</p>
                         <p><b class="bill__total-price">
                                55$
                         </b></p>
                     </div>
                  </div>
              </div>
            <div class="text-center"><a href="/account/my-tour" class="mt-3 btn btn-primary">Go to your tour order</a></div>
         </div>
    </div>
      {{> header}}

 
      
         <div class="container">
           <h1 class="pl-2 pt-5 pb-5 bookTour__title">Secure booking — only takes 2 minutes!</h1>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
             <div class="row align-items-center">
                    <div class="col-sm-1 text-center" style="font-size: 1.5rem;">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="col-sm-11">
                        <h5>COVID-19 alert: Travel requirements are changing rapidly, including need for pre-travel COVID-19 testing and quarantine on arrival.</h5>
                        <div class="row">
                            <a href="" class="text-warning mr-4 ml-3">Find out more.</a>
                        </div>
                        </div>
                </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            </div>

             <div class="row modal-body" style="margin: 0;background-color: #fff;">
              <div class="col-2 text-center">
                  <i class="fas fa-shield-alt"></i>
              </div>
              <div class="col-10">
                  <b>
                      <p>
                          Free cancellation before Thu, Jul 1
                      </p>
                  </b>
                  <p>
                      You can change or cancel this stay if plans change. Because flexibility matters.
                  </p>
              </div>
          </div>
           
         <form action="/api/order/" method="post"  id="postDataOrder">
            <div class="row infor__order">

              <div class="col-md-7">
                
                <div class="col-md-12 booktour__contain__element__info pt-3 pb-3">
                   <div >

                    <h5>Person infomation</h5>
                   <p for="">Contact name</p>
                   <input type="text" placeholder="first name and last name" name="userName">
                   <p for="">Mobie phone number</p>
                   <input type="number" name="phone">
                    <p >Address</p>
                   <input type="text">
                   <div class="row align-items-center pl-3">
                      <input class="checkbox" type="checkbox">
                      <label style="margin: 0;" for="">Receive text alerts about this trip. </label>
                   </div>
                   </div>
                       
                       <div>
                            <h5>Payment by debit/credit card</h5>
                            <div class="row justify-content-between text-success" style="padding: 0 2rem;">
                              <div class="row align-items-center">
                                 <i class="fas fa-check pr-1"></i>
                                 <p> We use secure transmission</p>
                              </div>
                               <div class="row align-items-center">
                                 <i class="fas fa-check pr-1"></i>
                                 <p> We protect your personal information</p>
                              </div>
                            </div>
                          <ul class="row pl-3 pt-3" style="list-style: none;">
                               <li> <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_master_card.svg" alt=""> </li>
                               <li> <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_american_express.svg" alt=""> </li>
                               <li> <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_china_union_pay.svg" alt=""> </li>
                               <li> <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_diners_club.svg" alt=""> </li>
                               <li> <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_discover.svg" alt=""> </li>
                               <li> <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_jcb.svg" alt=""> </li>
                               <li> <img src="https://a.travel-assets.com/dms-svg/payments/cards-cc_visa.svg" alt=""> </li>
                           </ul>
                            <p>Card name*</p>
                            <input type="text" >
                             <p>Debit/Credit card number*</p>
                            <input type="text" >
                            <p>Expiration date*</p>
                            <input type="date">
                            <p>Security code*</p>
                            <input type="number">
                            <p>Billing ZIP code*</p>
                            <input type="number" >

                       </div>

                       <div class="mt-3">
                          
                             <h5>
                                Important information about your booking
                             </h5>

                             <ul>
                                <li>
                                   Cancellations or changes made after 3:00pm (Hawaiian Standard Time) on Jul 1, 2021 or no-shows are subject to a property fee equal to 100% of the total amount paid for the reservation.
                                </li>
                                <li>Front desk staff will greet guests on arrival.</li>
                                <li>You'll be asked to pay the following charges at the property</li>
                             </ul>
                             <p>By selecting to complete this booking I acknowledge that I have read and accept the Rules & Restrictions, Terms of Use, Privacy Policy.</p>
                             <button class=" mt-3 btn btn-background-slide" id="btn__completeBooking">Complete booking</button>
                       </div>
                </div>
              </div>
              <div class="col-md-5">
                     <div class="container-fluid book__tour__contain-left pb-3" style="margin-top: 0 !important;">
                        <div class="col-12 book__tour-img" >
                           <img src="/{{tour.img}}" alt="">
                        </div>
                       <div class="pl-3">
                        <h5>{{tour.name}}</h5>
                        <input type="hidden" name="tourID" value="{{tour._id}}">
                        <p>Start at : {{formatDate tour.startDay}}</p>
                        <p>Chosse another date</p>
                        <select name="tourDate" id="" style="border-color:var(--primary_color);color: #666;outline: var(--primary_color);">
                           <option value="{{formatDate tour.startDay}}">{{formatDate tour.startDay}}</option>
                           <option value="{{formatDate tour.startDay}}">{{formatDate tour.startDay}}</option>
                           <option value="{{formatDate tour.startDay}}">{{formatDate tour.startDay}}</option>
                           <option value="{{formatDate tour.startDay}}">{{formatDate tour.startDay}}</option>
                        </select>
                        <p>Time : {{tour.time}}</p>
                        <p>Place start : {{tour.startPlace}}</p>
                       </div>
                     </div>

                        <div class="container-fluid book__tour__contain-left pl-3 pt-3 pb-3 pr-3">
                        <h4 class="text-danger">Special requirements</h4>
                        
                         <div class="row align-items-center pl-3">
                      <input class="checkbox" type="checkbox" id="check__photographer" name="check__photographer" onchange="openListPhotographer()">
                       <label style="margin: 0;" for="">Private photographer</label>
                         </div>
                         <div class="displayListPhotographer" class="ml-1">
                           <p >Please choose 
                        <select name="photographer" id="photographer__value" class="ml-3" style="border:none;color: #1e90ff;outline: var(--primary_color);">
                           {{#each photographers}}
                           <option value="id : {{this.id}}/name : {{this.firstName}} {{this.lastName}}"> id : {{this.id}}/name : {{this.firstName}} {{this.lastName}}</option>
                           {{/each}}
                         </select>  
                         </p>
                         <a href="/photographer" target="_blank" rel="noopener noreferrer" class="text-danger">Click for more infomation here !</a>
                         </div>
                         <div class="row align-items-center pl-3">
                     <a href="#" data-toggle="modal" data-target="#singerTourModal"> <input id="checkBoxSingerTour" class="checkbox" type="checkbox" name="singerTour"></a>
                       <label style="margin: 0;" for="">Require singer tour (+150$ price)</label>
                         </div>
                       </div>

                     <div class="container-fluid book__tour__contain-left pl-3 pt-3 pb-3 pr-3">
                        <h4>Price details</h4>
                          

                        <div class="row ">
                          <div class="col-10">
                        <label for="sel1">Adults number</label>
                           <select class="form-control" name="adultNumber" id="numberAdult">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                           </select>
                                  </div>
                           <div class="col-2" style="padding: 0;" id="totalPriceAdult">
                              ${{tour.price}}
                           </div>
                      
                                </div>
                        
                        <div class="row">
                            <div class="col-10">
                        <label for="sel1">Children number (< 12 ages free 20%)</label>
                           <select class="form-control" name="chilrenNumber" id="numberChildren">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                           </select>
                                  </div>
                           <div class="col-2" style="padding: 0;" id="totalPriceChildren">
                              ${{bookTour__childrenPrice tour.price}}
                              <input type="hidden" id="onePrice" value="{{tour.price}}">
                           </div>
                          </div>

                    <div class="row  mt-3">
                       <div class="col-sm-9">
                          <b><h5>Total</h5></b>
                       </div>
                       <div class="col-sm-3"><b><h5 id="totalPrice">${{bookTour__totalFisrt tour.price}}</h5></b></div>
                        <input type="hidden" name="totalPrice" id="totalPriceForm" value="${{bookTour__totalFisrt tour.price}}">
                        <input type="hidden" name="status" value="paid">
                    </div>
                    <a href="">Use a coupon, credit, or promotion code</a>
                    <p class="">Taxes and Fees due at the property are based on current exchange rates, and are payable in local currency.</p>
              </div>
           </div>

         </div>
       </form>
         </div>
       {{!-- modal singer tour  --}}
       <div class="modal fade" id="singerTourModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comfilm choose singer tour</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
              <p class="text-warning">Booking a single tour incurs an additional 150$ of the tour price</p>
              <p class="text-warning">You will have your own private tour guide and some special services</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" onmousedown="cancelSingerTour()">cancel</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" onmousedown="changeSingerTour()">Confilm</button>
            </div>
         </div>
      </div>
      </div>
       {{!-- close modal  --}}
      {{> footer}}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/app2.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        
      </script>
   </body>
</html>