 <!DOCTYPE html>
<html lang="en">
<head>
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <link rel="stylesheet" href=".\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reponsive.css">
    <link rel="stylesheet" href="/css/bookTour.css">
   
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Place</title>
    <style>
        @media (min-width: 768px) {
        .col-md-6 {
            -ms-flex: 0 0 50%;
            flex: 0 0 48%;
            max-width: 50%;
        }
        }
    
     @media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 32.333333%;
        max-width: 33.333333%;
    }
     }

      @media (min-width: 1200px) {
    .col-xl-3 {
    flex: 0 0 24%;
    max-width: 24%;
    }
     }
     @media (max-width:680px) {
 .ourTour__cpntain__search {
   width: 60%;
 }
 .ourTour__findtour {
   padding: 2rem 1rem;
   animation: none;
   right: 50%;
   transform: translateX(55%);
   max-width: 21rem;
 }
}
 .btn-outline-success.focus, .btn-outline-success:focus,
 .btn:focus {
    box-shadow: none !important;
 }

   /* 
      */

    </style>
</head>
<body style="margin: 0;overflow-x: hidden;" >
 <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>

    <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>

           {{> header}}
   
            
 
 <div class="container-fluid ourTour-banner row" style="background-image: url(https://free4kwallpapers.com/uploads/originals/2020/02/03/maldives-beach-wallpaper.jpg);">
     
       

      <div class="col-sm-11 contain__nav row " style="position: relative;">
         <div class="col-sm-2 text-center ">
             <div class=" contain__nav-item">
               <i style="color: rgba(187, 187, 21, 0.747);" class="fas fa-star"></i>
             </div>
             <a class="resert__a" href="#tour__in-country"><h4>Viet Nam Tour</h4></a>
         </div>
         <div class="col-sm-2 text-center ">
             <div class=" contain__nav-item">
                  <i class="fas fa-globe-americas"></i>             </div>
            <a href="#tour__out-country" class="resert__a"> <h4>Out country</h4></a>
         </div>
         <div class="col-sm-2 text-center ">
             <div class=" contain__nav-item">
                 <i style="color: orange;" class="fab fa-telegram-plane"></i>
             </div>
            <a href="/affiliate-service/flight"> <h4 style="color: rgb(122, 115, 115) !important;">Fly</h4></a>
         </div>
         <div class="col-sm-2 text-center ">
             <div class=" contain__nav-item">
                 <i style="color: blue;" class="fas fa-hotel"></i>
             </div>
             <a href="/affiliate-service/hotel"><h4 style="color: rgb(122, 115, 115) !important;">Hotel</h4></a>
         </div>
         <div class="col-sm-2 text-center " style="position: relative;">
             <div class=" contain__nav-item">
                 <i onclick="openCloseFind()" class="fas fa-search"></i>
             </div>
             <h4 onclick="openCloseFind()">Find tour</h4>
        
         </div>
                <div class="ourTour__findtour col-lg-9 display__none" id="ourTour__findtour">  

            <h1 style="text-align: center;">Find Your Tour</h1>
          <div>
               <form action="/search" method="get">
              <div class="row justify-content-around mt-3 mb-4  ">
    
                  <div class="row flex-column ourTour__cpntain__search">
                      <label for="sel1">Destrination</label>
                     <input name="search" type="text" placeholder="Where want you go ?">
                  </div>
                  <div class="row flex-column ourTour__cpntain__search">
                      <label for="sel1">From date</label>
                     <input name="fromDate" type="date" placeholder="Where want you go ?">
                  </div>
                  <div class="row flex-column ourTour__cpntain__search">
                      <label for="sel1">To date</label>
                     <input name="toDate"  type="date" placeholder="Where want you go ?">
                  </div>
    
              </div>

              <div class="row justify-content-around">
                <button type="submit" class="btn btn-outline-success ">Find</button>
              </div>
             </form>
          </div>


       
        </div>
      </div>
       
     
     
    </div>


    <div class="container outtour__container-ads pt-3 pb-3 mt-5 mb-5 text-center  ">
            <div class="contain__pakage-photographer">
                <div class="contain__pakage-photographer-icon">
                     <img style="width: 65px;" src="https://mcargobe.files.wordpress.com/2014/09/new_animated.gif">
                </div>
                <div class="row justify-content-between mb-3    ">
                    <h4 class="ml-3 mr-3">
                        <b>50% off photographer booking when included with the tour</b>
                    </h4>
                    <a href="/photographer" class="btn btn-light mr-3 ml-3" style="color: var(--primary_color);">
                        See photographer 
                    </a>
                </div>
                <div class="row">
                   <div class="col-sm-6 col-md-4">
                      <div>
                        <i class="fas fa-photo-video"></i>
                      </div>
                      <h5 class="mt-2">
                          You want to have a beautiful photo album when traveling
                      </h5>
                   </div>

                    <div class="col-sm-6 col-md-4">
                      <div>
                        <i class="fas fa-camera-retro"></i>
                      </div>
                      <h5 class="mt-2">
                         You want a professional photographer and cheap price
                      </h5>
                   </div>

                    <div class="col-sm-6 col-md-4">
                      <div>
                      <i class="fas fa-thumbs-up"></i>
                      </div>
                      <h5 class="mt-2">
                         Book a tour with a photographer now
                      </h5>
                   </div>
                </div>
            </div>
    </div>
 
  <div class="container-fuild container__tour" >
        <div class="row justify-content-center  container__tour-content">
            <h1 class=" container__tour-title">
              Hot tour
             
            </h1>
              <a href="/search?search=&fromDate=&toDate=">See more<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="row justify-content-around" data-aos="zoom-in">
            {{#each tours}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 container__tour-item hotTour"  style="background-image: url({{this.img}});">
                <div class="container__tour-item-info">
                    <h3>{{this.name}}</h3>
                    <h5>{{this.time}}</h5>
                    <h5>{{formatDate this.startDay}}</h5>
                    <h5>Free <i class="fas fa-hotel ml-1"></i> , <i class="fas fa-concierge-bell"></i> , <i class="fas fa-plane-departure"></i></h5>

                     <h1>{{this.price}}$</h1>
                     <a class="btn btn-outline-success btn-sm" href="/tours/{{this.slug}}">Book now <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
               <div class="container__tour-item-hotTour">
              <i class="fab fa-hotjar"></i>
                    <span style="opacity: 1 !important;">Hot Tour</span>
               </div>
               <div class="contain__social">
                   <ul>
                       <li> <a href=""> <i style="color: blue;" class="fab fa-facebook"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a></li>
                       <li> <a href=""> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(209, 47, 18);" class="fab fa-google"></i> </a></li>
                   </ul>
               </div>
                <div class="contain__icon__heart-product">
                <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482"><g filter="url(#icon_heart_svg__filter0_d)"><path class="heart__icon" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="3"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend></filter></defs></svg>
                </div>
            </div>
             {{/each}}
        </div>
    </div>


      <div class="container-fuild container__tour" id="tour__in-country">
        <div class="row justify-content-center  container__tour-content">
            <h1 class=" container__tour-title">
              Tour North Viet Nam
             
            </h1>
              <a href="/search?search=&fromDate=&toDate=">See more<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="row justify-content-around" data-aos="zoom-in">
            {{#each tours}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3  container__tour-item"  style="background-image: url({{this.img}});">
                <div class="container__tour-item-info">
                    <h3>{{this.name}}</h3>
                    <h5>{{this.time}}</h5>
                    <h5>{{formatDate this.startDay}}</h5>
                    <h5>Free <i class="fas fa-hotel ml-1"></i> , <i class="fas fa-concierge-bell"></i> , <i class="fas fa-plane-departure"></i></h5>
                     <h1>{{this.price}}$</h1>
                     <a class="btn btn-outline-success btn-sm" href="/tours/{{this.slug}}">Book now <i class="fas fa-long-arrow-alt-right"></i></a class="btn btn-background-slide contain__background-image-info-a contain__hotTour-btn">
                </div>
                 <div class="container__tour-item-hotTour">
            <i class="fas fa-check"></i>
                    <span style="opacity: 1 !important;">Sale tour</span>
               </div>
                <div class="contain__social">
                   <ul>
                       <li> <a href=""> <i style="color: blue;" class="fab fa-facebook"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a></li>
                       <li> <a href=""> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(209, 47, 18);" class="fab fa-google"></i> </a></li>
                   </ul>
               </div>
                <div class="contain__icon__heart-product">
                <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482"><g filter="url(#icon_heart_svg__filter0_d)"><path class="heart__icon" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="3"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend></filter></defs></svg>
                </div>
            </div>
             {{/each}}
        </div>
    </div>


    
      <div class="container-fuild container__tour" >
        <div class="row justify-content-center  container__tour-content">
            <h1 class=" container__tour-title">
            Tour Central Viet Nam
            </h1>
              <a href="/search?search=&fromDate=&toDate=">See more<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="row justify-content-around" data-aos="zoom-in">
            {{#each tours}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3  container__tour-item"  style="background-image: url({{this.img}});">
                <div class="container__tour-item-info">
                    <h3>{{this.name}}</h3>
                    <h5>{{this.time}}</h5>
                    <h5>{{formatDate this.startDay}}</h5>
                    <h5>Free <i class="fas fa-hotel ml-1"></i> , <i class="fas fa-concierge-bell"></i> , <i class="fas fa-plane-departure"></i></h5>
                     <h1>{{this.price}}$</h1>
                     <a class="btn btn-outline-success btn-sm" href="/tours/{{this.slug}}">Book now <i class="fas fa-long-arrow-alt-right"></i></a class="btn btn-background-slide contain__background-image-info-a contain__hotTour-btn">
                </div>
                 <div class="container__tour-item-hotTour">
            <i class="fas fa-check"></i>
                    <span style="opacity: 1 !important;">Sale tour</span>
               </div>
                <div class="contain__social">
                   <ul>
                       <li> <a href=""> <i style="color: blue;" class="fab fa-facebook"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a></li>
                       <li> <a href=""> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(209, 47, 18);" class="fab fa-google"></i> </a></li>
                   </ul>
               </div>
                <div class="contain__icon__heart-product">
                <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482"><g filter="url(#icon_heart_svg__filter0_d)"><path class="heart__icon" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="3"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend></filter></defs></svg>
                </div>
            </div>
             {{/each}}
        </div>
    </div>


    
      <div class="container-fuild container__tour" >
        <div class="row justify-content-center  container__tour-content">
            <h1 class=" container__tour-title">
                           Tour South Viet Nam 

            </h1>
              <a href="/search?search=&fromDate=&toDate=">See more<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="row justify-content-around" data-aos="zoom-in">
            {{#each tours}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3  container__tour-item"  style="background-image: url({{this.img}});">
                <div class="container__tour-item-info">
                    <h3>{{this.name}}</h3>
                    <h5>{{this.time}}</h5>
                    <h5>{{formatDate this.startDay}}</h5>
                    <h5>Free <i class="fas fa-hotel ml-1"></i> , <i class="fas fa-concierge-bell"></i> , <i class="fas fa-plane-departure"></i></h5>
                     <h1>{{this.price}}$</h1>
                     <a class="btn btn-outline-success btn-sm" href="/tours/{{this.slug}}">Book now <i class="fas fa-long-arrow-alt-right"></i></a class="btn btn-background-slide contain__background-image-info-a contain__hotTour-btn">
                </div>
                 <div class="container__tour-item-hotTour">
            <i class="fas fa-check"></i>
                    <span style="opacity: 1 !important;">Sale tour</span>
               </div>
                <div class="contain__social">
                   <ul>
                       <li> <a href=""> <i style="color: blue;" class="fab fa-facebook"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a></li>
                       <li> <a href=""> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(209, 47, 18);" class="fab fa-google"></i> </a></li>
                   </ul>
               </div>
                <div class="contain__icon__heart-product">
                <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482"><g filter="url(#icon_heart_svg__filter0_d)"><path class="heart__icon" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="3"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend></filter></defs></svg>
                </div>
            </div>
             {{/each}}
        </div>
    </div>


  <div class="container-fuild container__tour" id="tour__out-country">
        <div class="row justify-content-center  container__tour-content">
            <h1 class=" container__tour-title">
               Tour out country
             
            </h1>
              <a href="/search?search=&fromDate=&toDate=">See more<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="row justify-content-around" data-aos="zoom-in">
            {{#each tours}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3  container__tour-item"  style="background-image: url({{this.img}});">
                <div class="container__tour-item-info">
                    <h3>{{this.name}}</h3>
                    <h5>{{this.time}}</h5>
                    <h5>{{formatDate this.startDay}}</h5>
                    <h5>Free <i class="fas fa-hotel ml-1"></i> , <i class="fas fa-concierge-bell"></i> , <i class="fas fa-plane-departure"></i></h5>
                     <h1>{{this.price}}$</h1>
                     <a class="btn btn-outline-success btn-sm" href="/tours/{{this.slug}}">Book now <i class="fas fa-long-arrow-alt-right"></i></a class="btn btn-background-slide contain__background-image-info-a contain__hotTour-btn">
                </div>
                 <div class="container__tour-item-hotTour">
              <i class="fas fa-check"></i>
                    <span style="opacity: 1 !important;">Sale tour</span>
               </div>
                <div class="contain__social">
                   <ul>
                       <li> <a href=""> <i style="color: blue;" class="fab fa-facebook"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a></li>
                       <li> <a href=""> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(209, 47, 18);" class="fab fa-google"></i> </a></li>
                   </ul>
               </div>
                <div class="contain__icon__heart-product">
                <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482"><g filter="url(#icon_heart_svg__filter0_d)"><path class="heart__icon" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="3"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend></filter></defs></svg>
                </div>
            </div>
             {{/each}}
        </div>
    </div>


  <div class="container-fuild container__tour">
        <div class="row justify-content-center  container__tour-content">
            <h1 class=" container__tour-title">
               Love tour
             
            </h1>
              <a href="/search?search=&fromDate=&toDate=">See more<i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="row justify-content-around" data-aos="zoom-in">
            {{#each tours}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3  container__tour-item"  style="background-image: url({{this.img}});">
                <div class="container__tour-item-info">
                    <h3>{{this.name}}</h3>
                    <h5>{{this.time}}</h5>
                    <h5>{{formatDate this.startDay}}</h5>
                    <h5>Free <i class="fas fa-hotel ml-1"></i> , <i class="fas fa-concierge-bell"></i> , <i class="fas fa-plane-departure"></i></h5>
                     <h1>{{this.price}}$</h1>
                     <a class="btn btn-outline-success btn-sm" href="/tours/{{this.slug}}">Book now <i class="fas fa-long-arrow-alt-right"></i></a class="btn btn-background-slide contain__background-image-info-a contain__hotTour-btn">
                </div>
                  <div class="container__tour-item-hotTour">
             <i class="fas fa-heart"></i>
                    <span style="opacity: 1 !important;">Love Tour</span>
               </div>
                <div class="contain__social">
                   <ul>
                       <li> <a href=""> <i style="color: blue;" class="fab fa-facebook"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a></li>
                       <li> <a href=""> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a></li>
                       <li> <a href=""> <i style="color: rgb(209, 47, 18);" class="fab fa-google"></i> </a></li>
                   </ul>
               </div>
                <div class="contain__icon__heart-product">
                <svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg" class="svgFillAll jss482"><g filter="url(#icon_heart_svg__filter0_d)"><path  class="heart__icon" d="M9.318 3c-1.479 0-2.897.661-3.895 1.811C4.259 6.16 3.786 8.054 4.09 10.15c.683 4.708 5.546 8.674 9.911 10.468 4.363-1.794 9.223-5.76 9.91-10.468.303-2.096-.17-3.991-1.334-5.339C21.581 3.661 20.161 3 18.684 3c-1.49 0-2.885.68-3.929 1.915l-.75.89-.752-.89C12.204 3.681 10.81 3 9.318 3z" fill="#000" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><filter id="icon_heart_svg__filter0_d" x="-1" y="0" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix><feOffset dy="3"></feOffset><feGaussianBlur stdDeviation="1.5"></feGaussianBlur><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix><feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend><feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend></filter></defs></svg>
                </div>
            </div>
             {{/each}}
        </div>
    </div>



	<div id="fh5co-destination" >
        <div class="tour-fluid">
            <div class="row" style="margin: 0;">
                <div class="col-md-12" style="padding: 0;">
                    <ul id="fh5co-destination-list" class="animate-box">
                        <li class="one-forth text-center" style="background-image: url(image/đỉnh\ bàn\ cờ.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Ban Co peak with the statue of De Thich.</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(http://img.v3.news.zdn.vn/w1024/Uploaded/jac_iik/2015_10_30/Anh_1.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Linh Ung Bai But Pagoda.</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(image/vinh_ha_long.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Ha long bay</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(image/thien-vien-truc-lam-da-lat.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Truc lam template</h2>
                                </div>
                            </a>
                        </li>

                        <li class="one-forth text-center" style="background-image: url(image/Phong-Nha-9.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Phong nha cave</h2>
                                </div>
                            </a>
                        </li>
                       <li class="one-half text-center">
								<div class="title-bg">
									<div class="case-studies-summary">
										<h2>Most Popular Destinations</h2>
										<a class="btn btn btn-background-slide" href="#">View All Destinations</a>
									</div>
								</div>
							</li>
                        
                        <li class="one-forth text-center" style="background-image: url(image/ban-dao-son-tra-ivivu.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Son Tra Peninsula</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(image/biệt\ thự\ hằng\ \ nga.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Hang nga villa</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(image/bãi\ rạng.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>The crystal sea water.</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(image/Cầu-Tình-Yêu-Đà-Nẵng.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Da nang Love bridge</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(image/Eo-Gio-Quy-Nhon-Vnexpress-1551670722.jpg); ">
                            <a href="#">
                                <div class="case-studies-summary">
                                    <h2>Wind Strait</h2>
                                </div>
                            </a>
                        </li>
                    </ul>		
                </div>
            </div>
        </div>
    </div>




	<div id="fh5co-testimonial" style="background-image:url(image/img_bg_1.jpg);">
		<div class="container">
			<div class="row animate-box justify-content-center">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2 data-aos="fade-down-right">Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" data-aos="flip-left"  data-aos-easing="linear"
                                         data-aos-duration="1200">
					<div class="box-testimony animate-box">
						<blockquote>
							 <div class="box__icon__qoute">
                             <i class="fas fa-quote-right"></i>
                         </div>
							<p>&ldquo;You can't just ask customers what they want and then try to give it to them. By the time you perfect it, they already want something new.&rdquo;</p>
						</blockquote>
						<p class="author">Phan Ho Nhi, CEO <a href="" target="_blank"></a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
				<div class="col-md-4"  data-aos-easing="linear"
                                             data-aos-duration="1200">
					<div class="box-testimony animate-box">
						<blockquote>
							 <div class="box__icon__qoute">
                             <i class="fas fa-quote-right"></i>
                         </div>
							<p>&ldquo;What can't be sold, I don't want to make. Sales are proof of feature owner and feature owner is success.What can't be sold, I don't want to make. &rdquo;</p>
						</blockquote>
						<p class="author">Nguyen Thi Phuong Anh, CEO <a href="" target="_blank"></a> <span class="subtext">Creative Director</span></p>
					</div>
					
					
				</div>
				<div class="col-md-4" data-aos="flip-right"  data-aos-easing="linear"
                             data-aos-duration="1200">
					<div class="box-testimony animate-box">
						<blockquote>
                            
                         <div class="box__icon__qoute">
                             <i class="fas fa-quote-right"></i>
                         </div>
						
                            
							<p>&ldquo;Aim for success, not perfection. Never give up your right to be wrong, because then you will lose the ability to learn new things and move forward with your life.On the way to success, there is no trace of lazy men.&rdquo;</p>
						</blockquote>
						<p class="author">Nguyen Ngoc Khanh, Founder <a href="#"></a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

   {{> footer}}
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="js/app.js"></script>
  <script src="js/app2.js"></script>
 
      <script>

  function openCloseFind() {
     document.getElementById('ourTour__findtour').classList.toggle('display__none')
  }
      </script>  
  
 
</body>
</html>