<!DOCTYPE html>
<html lang="en">
   <head>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href=".\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" type="text/css" href="/css/base.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" type="text/css" href="/css/reponsive.css">
      <link rel="stylesheet"  href="/css/bookTour.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wonder Place</title>
      <style>
         
       
         .p {
         color: black;
         }
         .bookTour__icon {
         color: rgb(204, 204, 39);
         }
         .tourdetail__nav {
         padding: 1rem 0 1rem 0;
         border-bottom: 1px solid #f1f1f1;
         }
         .contain__main-right {
         background-color: rgba(255,255,255,0.8);
         }
       
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
           border-color: #dee2e6 #dee2e6 #dee2e6;
        }
        .contain__hotTour-infomation-star {
           margin-right: 0;
        }
        #menu1 h2 {
            border: 1px dashed;
           padding: .3rem 1rem;
           display: flex;
           align-items: center;
           justify-content: space-between;
        }
         #menu1 h2 i {
            padding: 3px 7px;
         }
        #menu1 .container-fluid  {
           padding: .5rem 20px 1rem !important;
           animation: fadeInUp .5s linear;
        }
        #menu1 .fa-check{
           margin-right: 5px;
            color: green;
        }
        #menu1 .fa-times {
           margin-right: 5px;
           color: red;
        }
         @media (max-width:1050px) { 
              #container__left {
                 max-height: none !important;
               }
         }
       </style>
   </head>
   <body style="overflow-x : hidden;margin: 0;">
       <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>
     <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>
      {{> header}}
      <div class="container-fluid"  id="tourDetails">
         <div class="row">
            <div class="col-lg-7 " id="container__right">
               <div class="col-sm-12 contain__video" >
                  <iframe src="https://www.youtube.com/embed/{{object.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img1}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img2}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img3}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img4}}" alt="">
               </div>
            </div>
            <div class="col-lg-5  container__left" id="container__left">
               <div class="container tourdetail__nav">
                  <div class="row justify-content-around">
                     <i class="fas fa-chevron-left"></i>
                     <i class="fas fa-stream"></i>
                     <i class="fas fa-chevron-right"></i>
                  </div>
               </div>
               <div class="container-fluid mt-3 contain__main-right">
                  <h2 class="ml-3" style="margin-bottom: 0%;">{{object.name}}</h2>
                  <br>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" id="homeBtn">Book tour</a>
                     </li>
                     
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1" id="menu1Btn">Pakage details</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2" id="menu2Btn">Comment</a>
                     </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                     <div id="home" class="container tab-pane active">
                         
                        <br>
                        <div class="">

                        <div class="container-fluid mb-3" style="padding-right: 0;">
                           <div class="container-fluid">
                              <div class="row align-items-center mb-1 ">
                                
                                    <div class="row bookTour__icon mr-4 ">
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                    </div>
                                 
                                 
                                    <p>4.44/5 <b>In</b> 395 <b>Rate</b></p>
                                
                              </div>

                              <div class="row">
                                
                                    <div class="row  align-items-center" >
                                       <i class="fas fa-eye"></i> 
                                       <p class="ml-2 mr-2">989</p>
                                       <i class="fas fa-thumbs-up"></i> 
                                       <p class="ml-2 mr-2">55</p>
                                       <i class="fas fa-comments"></i> 
                                       <p class="ml-2 mr-2">0</p>
                                    </div>
                                
                              </div>

                           </div>
                        </div>

                        <div class="container-fluid mb-3" >
                           <div class="row">
                             
                                 <p>Date start  : <span class="ml-3" style="color: #1e90ff"> {{formatDate object.startDay}}</span></p>
                              
                             
                           </div>
                           <div class="row">
                             
                                 <p>Other day  : 
                           <select name="" id="" class="ml-3" style="border:none;color: #1e90ff;outline: var(--primary_color);">
                           <option value="">21/08/2021</option>
                           <option value="">21/08/2021</option>
                           <option value="">{{formatDate this.startDay}}</option>
                           <option value="">{{formatDate this.startDay}}</option>
                           <option value="">{{formatDate this.startDay}}</option>
                        </select>
                                 </p>
                             
                             
                           </div>
                           <div class="row">
                              
                                 <p>Time long  : <span class="ml-3" style="color: #1e90ff"> {{object.time}}</span></p>
                             
                           </div>
                           <div class="row">
                              
                                 <p>Place start  : <span class="ml-3" style="color: #1e90ff"> {{object.startPlace}}</span></p>
                             
                           </div>
                        </div>
                        <div class="container-fluid mb-3">
                           <div class="row">
                              <div class="mr-3">
                                 <h4 style="color: #d52020;">{{object.price}}$</h4>
                                 <p>Remaining tours :  <b style="color: #d52020;">{{object.countLeft}}</b></p>
                              </div> 
                              <div class="   ">
                                 <a href="/bookTour/direct/{{object.slug}}" class="btn btn_btn btn-sm">
                                 <i class="fas fa-cart-plus"></i>
                                 Book now
                                 </a> 
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3">
                           <div class="row">
                              <h5 style="color: #1e90ff;" class="">Paying online here</h5>
                           </div>
                           <div class="row align-items-center">
                              <div class="mr-3 ">
                                 <h4 class="ml-1" style="color: #d52020;margin-bottom: 0;">Payment now</h4>
                              </div>
                              <div class="">
                                 <a href="/bookTour/online/{{object.slug}}" class="btn btn_btn btn-sm">
                                 <i class="fas fa-cart-plus"></i>
                                 Book now
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="mb-3 row">
                          
                             <div class="contain__hotTour-infomation-star contain__tourdetails-share">
                      
                        <a href="" class="ml-1 mr-1"> <i style="color: blue;" class="fab fa-facebook"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(0, 162, 255);" class="fab fa-twitter"></i> </a>
                   
                    </div>
                        </div>

                        </div>
                         
                     </div>
                     <div id="menu1" class="container tab-pane fade pb-2">
                        <br>
                        <h2 class="text-info"><span>Tour price includes</span> <i id="tour__service-include-btn" class="fas fa-angle-up "></i></h2>
                          <div class="container-fluid" id="tour__service-include" style="padding-left: 0;">
                              <p><i class="fas fa-check"></i> Sightseeing bus (16, 29, 35, 45 seats depending on the number of guests) according to the program</p>
                              <p><i class="fas fa-check"></i> Round-trip airfare Da Nang - Phu Quac</p>
                              <p><i class="fas fa-check"></i> Free 15 kg checked baggage & 7 kg hand luggage</p>
                              <p><i class="fas fa-check"></i> Standard hotel 2 guests / room or 3 guests / room</p>
                                    <p class="ml-3"><i class="fas fa-wifi"></i> Free wifi</p>
                                    <p class="ml-3"><i class="fas fa-water"></i> Poor</p>
                                    <p class="ml-3"><i class="fas fa-snowflake"></i> Air conditioning</p>
                                    <p class="ml-3"><i class="fas fa-broom"></i> Housekeeping</p>
                                    <p class="ml-3"><i class="fas fa-coffee"></i> Breakfast included</p>
                              <p><i class="fas fa-check"></i> Sightseeing tickets according to the program</p>
                              <p><i class="fas fa-check"></i> Main meals according to the program from 5.5$-10$ VND</p>
                              <p><i class="fas fa-check"></i> Travel insurance with the highest compensation 5000$/case</p>
                              <p><i class="fas fa-check"></i> Tax</p>
                          </div>
                        
                       
                        <h2 class="text-info"><span>Tour price not includes</span> <i id="tour__service-not-include-btn" class="fas fa-angle-down "></i></h2>
                        <div class="container-fluid display__none" id="tour__service-not-include" style="padding-left: 0;">
                             <p><i class="fas fa-times"></i> Personal expenses: meals outside the program, laundry, cancellation costs, flight upgrade and flight upgrade, excess baggage, single room surcharge, etc.</p>
                              <p><i class="fas fa-times"></i> Sightseeing expenses outside the program….</p>
                        </div>     
                                   

                         <h2 class="text-info"><span>Tour schedule</span> <i class="fas fa-angle-down " id="tour__schedule-btn"></i></h2>
                        <div class="container-fluid display__none" id="tour__schedule" style="padding-left: 0;">
                           <h4>FIRST DAY : PHU QUOC - GRAND WORLD Number of meals: 02 meals (Lunch, Dinner)</h4>
                           <p><b>In the morning : </b>You gather at Da Nang airport, Domestic station. Tour guide will check-in for you to take flight to Phu Quoc. Pick up at the airport, transfer to check in at <b><i>VinOasis Phu Quoc Luxury Resort</i></b>.</p>
                           <p><b>In the afternoon : </b>You can freely explore some items at the <b><i>Grand World</i></b> area (expenses excluded) such as: bamboo works, contemporary art park of Open Park...; Stroll along the "Venice canal" and see the gondolas, the magnificent castle gate, three semi-circular arch bridges... Group dinner buffet, rest in Phu Quoc.</p>
                            <img src="/image/khach-san-phu-quoc.jpg" class="w-100 mt-2 mb-1" alt="">
                            <p class="text-center"><i>VinOasis Phu Quoc Luxury Resort </i></p>
                            <h4>SECOND DAY : FULL PLAY AT VINWONDERS PHU QUOC THEME PARK - SAFARI NATURE RESERVATION Number of meals: 03 meals (Breakfast, Lunch, Dinner)</h4>
                            <p><b>In the morning : </b>You have breakfast buffet at <b><i>VinOasis</i></b>. After breakfast, you will come to explore <b><i>Vinpearl Safari Phu Quoc</i></b> - the first Semi-Wild Zoo in Vietnam - with a scale of 180ha, with more than 130 species of rare animals and programs of Animal Performances, Photography. Photo with animals, Explore and experience the Open Zoo in the natural forest, close and friendly to humans.</p>
                             <img src="https://gonatour.vn/vnt_upload/tour/07_2020/vinpearl_safari_phu_quoc_gonatour.jpg" class="w-100 mt-2 mb-1" alt="">
                              <p class="text-center"><i>Safary Phu Quoc</i></p>
                           <p><b>In the Afternoon : </b>In the afternoon, you will explore the <b><i>VINWONDERS</i></b> PHU QUOC Theme Park - You will be lost in the "Fairy World" through the first interactive games appearing in Vietnam designed based on fairy tales. famous in the world and in Vietnam. VINWONDERS also entertains visitors with very special art performances such as "Hawaiian Dance" with a deep and magical charm - Showing Hawaiian sacrificial rituals at the water park; The heroic “Battle Viking Drum" - exudes the strong spirit of the Vikings; and not to be missed the dramatic "Maya Dance" at the thrill zone - Re-enactment of the Mayan tribe's hunting; Exciting, humorous, "Interactive Show with Operating Characters" - Using working tools as props, according to the slogan "Every worker is an artist". VINWONDERS is also known as the park of first-time experiences in Vietnam.</p>
                           <img src="https://media.mia.vn/uploads/blog-du-lich/vinwonders-phu-quoc-vinpearl-land-phu-quoc-cong-vien-chu-de-lon-nhat-viet-nam-1610502702.jpg" class="w-100 mt-2 mb-1" alt="">
                           <p class="text-center"><i>Vinwonders Phu Quoc</i></p>
                            <h4>FINALLY DAY: PHU QUOC - Da Nang Number of meals: 02 meals (Breakfast, Lunch)</h4>
                            <p><b>In the morning : </b>You have breakfast buffet at VinOasis, free to swim and rest until hotel check out time. The car takes you back to the center of Duong Dong town for lunch.</p>
                            <img src="https://i.doanhnhansaigon.vn/2014/07/22/phu-quoc-large-1508390219.jpg" alt="" class="w-100 mt-2 mb-1">
                            <p class="text-center"><i>Fish sauce barrel house</i></p>
                           <p><b>In the afternoon : </b>After that, you will visit Dinh Cau: a cultural and religious symbol of Phu Quoc Island. A place where local fishermen put their trust for a trip to the sea to catch fish full of fish when they return. Visiting and shopping for souvenirs at <b><i>Duc Thanh Tieu Garden</i></b>, <b><i>Fish sauce barrel house</i></b>, Phu Quoc pearl production facility. Admire and shop for genuine pearl jewelry cultured in Phu Quoc. Dong Tam Snake Farm 2: the center for research and conservation of precious snakes on the island. Here, you are introduced, learn about snakes: cobra, king cobra, krait, red-tailed viper... and experience taking pictures with tamed pythons.</p>
                           <p class="text-success">The car will take you to the airport for a flight back to Da Nang. Farewell to you and end the tour program at Tan Son Nhat airport.</p>
                        </div>

                        <h2 class="text-info"><span>Conditions of tour cancellation</span> <i id="tour__cancel-btn" class="fas fa-angle-down "></i></h2>
                        <div class="container-fluid display__none" id="tour__cancel" style="padding-left: 0;">
                              <p><i class="fas fa-check"></i> Transfer to other tourist routes 20 days before departure date: No cost.</p>
                               <p><i class="fas fa-check"></i> If canceling or changing to other tours immediately after registration arrives 15-19 days before departure: Tour cancellation cost: 50% of tour deposit.</p>
                               <p><i class="fas fa-check"></i> If canceling or changing to other tours from 12-14 days before departure date: Tour cancellation cost: 100% tour deposit.</p>
                               <p><i class="fas fa-check"></i> If the tour is canceled within 08-11 days before the departure date: Tour cancellation cost: 50% of the tour price.</p>
                               <p><i class="fas fa-check"></i> If the tour is canceled within 05-07 days before the departure date: Tour cancellation cost: 70% of the tour price.</p>
                               <p><i class="fas fa-check"></i> If the tour is canceled within 02-04 days before the departure date: Tour cancellation cost: 90% of the tour fare.</p> 
                               <p><i class="fas fa-check"></i> If the tour is canceled within 1 day before the departure date: Tour cancellation cost: 100% of the tour fare.</p>
                        </div>
                     </div>
                     <div id="menu2" class="container tab-pane fade">
                        <div class="container">
                           <div class="card-textArea">
                              <div class="row">
                                 {{!-- 
                                 <div class="col-2"> <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2"> </div>
                                 --}}
                                 <div class="col-10">
                                    <div class="comment-box ml-2">
                                       <h4>Add a comment</h4>
                                       <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
                                       <div class="comment-area"> <textarea  class="form-control" placeholder="what is your view?" rows="4" id="comment"></textarea> </div>
                                                                                                        <input type="hidden" id="slug__tour" value="{{object.slug}}">
                                       <div class="comment-btns mt-2">
                                          <div class="row d-flex justify-content-right">
                                             <div class="col-4 d-flex justify-content-between" >
                                                <div class="pull-left"> <button class="btn btn-danger   btn-sm mr-2" onclick="resertComment()">Cancel</button> </div>
                                                <div class="pull-right"> <button class="btn btn-success btn-sm" id="send__comment">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row d-flex justify-content-center">
                              <div class="col-md-12">
                                 <div class="headings d-flex justify-content-between align-items-center mb-3">
                                    <h5 id="countComment">Unread comments({{count}})</h5>
                                 </div>
                              
                              <div id="contain__comment">
                                    {{#each commentList}}
                                          <div class="card p-3 mt-2">
                                             <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{this.nameAccount}}</small> <small class="font-weight-bold">{{this.comment}}</small></span> </div>
                                                <small>{{formatDateDetails this.createdAt}}</small>
                                             </div>
                                             <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                                             </div>
                                          </div>
                                    {{else}}
                                    <h2 id="not__have-comment">Not have comment. Add comment now</h2>
                                    {{/each}}
                              </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{> footer}}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/app2.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
         $('#tour__service-include-btn').click(detailsDisplayContent)
         $('#tour__service-not-include-btn').click(detailsDisplayContent)
         $('#tour__schedule-btn').click(detailsDisplayContent)
         $('#tour__cancel-btn').click(detailsDisplayContent)
         
         function detailsDisplayContent(event) {
            $(this).toggleClass('transform__180')
          var String = event.target.id
          var ID = String.replace("-btn",'')
          $("#"+ID).toggleClass('display__none')
         }

         $('#homeBtn').click(function() {
            $('.container__left').css('max-height','588px')
         })
         $('#menu1Btn').click(setContainLeft680)
         $('#menu2Btn').click(setContainLeft680)
         function setContainLeft680() {
             $('.container__left').css('max-height','680px')
         }

        var currentdate = new Date(); 
                var datetime =currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
        function resertComment() {
           $('.comment-area textarea').val('')
        }
         $('#send__comment').click(function() {
             $.post("/create-comment",
                  {
                     comment : $('#comment').val(),
                   slugTour : $('#slug__tour').val()
                  },
                  function(data, status){
                     if(data.link)
                     {
                        alert('You need login to comment this post !')
                        window.location.href = data.link
                     }
                     console.log(data)
                     $('#not__have-comment').remove()
                   $('#countComment').html("Unread comments("+(data.count+1)+")");
                    $( "#contain__comment" ).prepend(` <div class="card p-3 mt-2">
                              <div class="d-flex justify-content-between align-items-center">
                              <div class="user d-flex flex-row align-items-center"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">`+data.nameAccount+`</small> <small class="font-weight-bold">`+data.comment+`</small></span> </div>
                                    <small>`+datetime+`</small>
                                   </div>
                               <div class="action d-flex justify-content-between mt-2 align-items-center">
                                   <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                                             </div>
                                          </div>`);
                  });
         })
        
           
             
         
         
      </script>
   </body>
</html>