<!DOCTYPE html>
<html lang="en">
   <head>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href=".\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" type="text/css" href="/css/base.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" type="text/css" href="/css/reponsive.css">
      <link rel="stylesheet"  href="/css/bookTour.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wonder Place</title>
      <style>
         .container__left {
         top: 135px;
         position: fixed;
         right: 0;
         }
        
         .tab-pane {
         max-height: 510px;
         overflow-y: scroll;
         }
         .p {
         color: black;
         }
         .bookTour__icon {
         color: rgb(204, 204, 39);
         }
         .tourdetail__nav {
         padding: 1rem 0 1rem 0;
         border-bottom: 1px solid #f1f1f1;
         }
         .contain__main-right {
         background-color: rgba(255,255,255,0.8);
         }
       
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
           border-color: #dee2e6 #dee2e6 #dee2e6;
        }
        .contain__hotTour-infomation-star {
           margin-right: 0;
        }
        #menu1 h2 {
            border: 1px dashed;
           padding: .3rem 1rem;
           display: flex;
           align-items: center;
           justify-content: space-between;
        }
         #menu1 h2 i {
            padding: 3px 7px;
         }
        #menu1 .container-fluid  {
           padding: .5rem 20px 1rem !important;
           animation: fadeInUp .5s linear;
        }
        #menu1 .fa-check{
           margin-right: 5px;
            color: green;
        }
        #menu1 .fa-times {
           margin-right: 5px;
           color: red;
        }
       </style>
   </head>
   <body style="overflow-x : hidden;margin: 0;">
       <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>
     <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>
      {{> header}}
      <div class="container-fluid"  id="tourDetails">
         <div class="row">
            <div class="col-lg-7 " id="container__right">
               <div class="col-sm-12 contain__video" >
                  <iframe src="https://www.youtube.com/embed/{{object.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img1}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img2}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img3}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img4}}" alt="">
               </div>
            </div>
            <div class="col-lg-5  container__left" id="container__left">
               <div class="container tourdetail__nav">
                  <div class="row justify-content-around">
                     <i class="fas fa-chevron-left"></i>
                     <i class="fas fa-stream"></i>
                     <i class="fas fa-chevron-right"></i>
                  </div>
               </div>
               <div class="container-fluid mt-3 contain__main-right">
                  <h2 class="ml-3" style="margin-bottom: 0%;">{{object.name}}</h2>
                  <br>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Book tour</a>
                     </li>
                     
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Pakage details</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Comment</a>
                     </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                     <div id="home" class="container tab-pane active">
                         <div class="container"></div>
                        <br>
                        <div class="container-fluid mb-3" style="padding-right: đ;">
                           <div class="container-fluid">
                              <div class="row align-items-center mb-1">
                                 <div class="col-4 col-lg-2 col-xl-3 booktour__contain-star">
                                    <div class="row bookTour__icon">
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                    </div>
                                 </div>
                                 <div class="col-8">
                                    <p>4.44/5 <b>In</b> 395 <b>Rate</b></p>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-6 col-lg-4 col-xl-5 booktour__contain-tt">
                                    <div class="row justify-content-between align-items-center" >
                                       <i class="fas fa-eye"></i> 
                                       <p>989</p>
                                       <i class="fas fa-thumbs-up"></i> 
                                       <p>55</p>
                                       <i class="fas fa-comments"></i> 
                                       <p>0</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3" >
                           <div class="row">
                              <div class="col-sm-10">
                                 <p>Date start  : <span class="ml-3" style="color: #1e90ff"> {{formatDate object.startDay}}</span></p>
                              </div>
                             
                           </div>
                           <div class="row">
                              <div class="col-sm-10">
                                 <p>Other day  : 
                           <select name="" id="" class="ml-3" style="border:none;color: #1e90ff;outline: var(--primary_color);">
                           <option value="">21/08/2021</option>
                           <option value="">21/08/2021</option>
                           <option value="">{{formatDate this.startDay}}</option>
                           <option value="">{{formatDate this.startDay}}</option>
                           <option value="">{{formatDate this.startDay}}</option>
                        </select>
                                 </p>
                              </div>
                             
                           </div>
                           <div class="row">
                              <div class="col-sm-10">
                                 <p>Time long  : <span class="ml-3" style="color: #1e90ff"> {{object.time}}</span></p>
                              </div>
                           </div>
                           <div class="row">
                               <div class="col-sm-10">
                                 <p>Place start  : <span class="ml-3" style="color: #1e90ff"> {{object.startPlace}}</span></p>
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3">
                           <div class="row">
                              <div class="col-6 col-sm-5 col-lg-3 col-xl-5 contain__bookNow">
                                 <h4 style="color: #d52020;">{{object.price}}$</h4>
                                 <p>Remaining tours :  <b style="color: #d52020;">{{object.countLeft}}</b></p>
                              </div>
                              <div class="col-5">
                                 <a href="/bookTour/direct/{{object.slug}}" class="btn btn_btn btn-sm">
                                 <i class="fas fa-cart-plus"></i>
                                 Book now
                                 </a> 
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3">
                           <div class="row">
                              <h5 style="color: #1e90ff;" class="pl-3">Preferential prices when paying online</h5>
                           </div>
                           <div class="row">
                              <div class="col-6 col-sm-5 col-lg-3 col-xl-5 contain__bookNow">
                                 <h4 style="color: #d52020;">Decrease 5%</h4>
                              </div>
                              <div class="col-5">
                                 <a href="/bookTour/online/{{object.slug}}" class="btn btn_btn btn-sm">
                                 <i class="fas fa-cart-plus"></i>
                                 Book now
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="mb-3 col-12">
                          
                             <div class="contain__hotTour-infomation-star contain__tourdetails-share">
                      
                        <a href="" class="ml-1 mr-1"> <i style="color: blue;" class="fab fa-facebook"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(0, 162, 255);" class="fab fa-twitter"></i> </a>
                   
                    </div>
                        </div>
                         
                     </div>
                     <div id="menu1" class="container tab-pane fade pb-5">
                        <br>
                        <h2 class="text-info"><span>Tour price includes</span> <i id="tour__service-include-btn" class="fas fa-angle-up "></i></h2>
                          <div class="container-fluid" id="tour__service-include" style="padding-left: 0;">
                              <p><i class="fas fa-check"></i> Sightseeing bus (16, 29, 35, 45 seats depending on the number of guests) according to the program</p>
                              <p><i class="fas fa-check"></i> Round-trip airfare SGN - Phu Yen/Quy Nhon - SGN</p>
                              <p><i class="fas fa-check"></i> Free 15 kg checked baggage & 7 kg hand luggage</p>
                              <p><i class="fas fa-check"></i> Standard hotel 2 guests / room or 3 guests / room</p>
                                    <p class="ml-3"><i class="fas fa-wifi"></i> Free wifi</p>
                                    <p class="ml-3"><i class="fas fa-water"></i> Poor</p>
                                    <p class="ml-3"><i class="fas fa-snowflake"></i> Air conditioning</p>
                                    <p class="ml-3"><i class="fas fa-broom"></i> Housekeeping</p>
                                    <p class="ml-3"><i class="fas fa-coffee"></i> Breakfast included</p>
                              <p><i class="fas fa-check"></i> Sightseeing tickets according to the program</p>
                              <p><i class="fas fa-check"></i> Main meals according to the program from 5.5$-10$ VND</p>
                              <p><i class="fas fa-check"></i> Travel insurance with the highest compensation 5000$/case</p>
                              <p><i class="fas fa-check"></i> Tax</p>
                          </div>
                        
                       
                        <h2 class="text-info"><span>Tour price not includes</span> <i id="tour__service-not-include-btn" class="fas fa-angle-down "></i></h2>
                        <div class="container-fluid display__none" id="tour__service-not-include" style="padding-left: 0;">
                             <p><i class="fas fa-times"></i> Personal expenses: meals outside the program, laundry, cancellation costs, flight upgrade and flight upgrade, excess baggage, single room surcharge, etc.</p>
                              <p><i class="fas fa-times"></i> Sightseeing expenses outside the program….</p>
                        </div>     
                                   

                         <h2 class="text-info"><span>Tour schedule</span> <i class="fas fa-angle-down " id="tour__schedule-btn"></i></h2>
                        <div class="container-fluid display__none" id="tour__schedule" style="padding-left: 0;">
                           <h4>FIRST DAY : DA NANG - SON TRA SELLER - SUNWHEEL (Lunch, Dinner)</h4>
                           <p><b>In the morning : </b>Pick you up at Da Nang (Airport, Station, central meeting point) from 07h00 to 13h00 (After this time, you join the group by yourself). The car takes you to eat the famous specialty of Da Nang "Pork rice paper with 2 skins & Quang noodles". Check-in K / hotel 4 * stay.</p>
                           <p><b>In the afternoon : </b>Go to Son Tra Peninsula to see the coastal city of Da Nang on high, visit Linh Ung Tu - the place with the highest 67m Buddha statue in Vietnam and swim in My Khe beach in Da Nang.</p>
                            <img src="/image/ivivu-chua-linh-ung.jpg" class="w-100 mt-2 mb-1" alt="">
                            <p class="text-center"><i>Linh Ung Pagoda </i></p>
                            <h4>SECOND DAY : BUDDHA MUSEUM - HOI AN CITY (BREAKFAST, LUNCH, DIGHT)</h4>
                            <p><b>In the morning : </b>Breakfast. Round the Dragon Bridge to leave an impression on the Love Bridge, strolling to enjoy the fresh air on the banks of Han Giang with the statue of Hoa Long Carp - The symbol of Da Nang people's desire to rise. Visit Quan The Am Pagoda - Museum of Buddhism and Stone Sculpture Village. Shopping for Central specialties.</p>
                             <img src="/image/cau-rong-da-nang-phun-lua-may-gio.jpg" class="w-100 mt-2 mb-1" alt="">
                              <p class="text-center"><i>Fire-breathing dragon bridge</i></p>
                           <p><b>At noon : </b>Lunch at the restaurant.</p>
                           <p><b>In the Afternoon : </b>Depart for Hoi An, walk around and shop around the Old Town with: Japanese Covered Bridge, Hundreds of Years Old House, Phuoc Kien Assembly Hall & Handicraft Workshop. Departure back to Da Nang.</p>
                           <img src="/image/hoi_an.jpg" class="w-100 mt-2 mb-1" alt="">
                           <p class="text-center"><i>Hoi An</i></p>
                           <p><b>In the afternoon : </b>Dinner at restaurant. Freely enjoy a cruise on the Han River to see Da Thanh at night, take photos of Han River Quay Bridge, Dragon Bridge spitting fire and water at weekends.</p>
                            <h4>FINALLY DAY: Ba Na (Golden Bridge) - Hue Ancient Capital (Breakfast, Lunch, Dinner)</h4>
                            <p><b>In the morning : </b>Breakfast. Departure to Ba Na - Nui Chua. You will enjoy the feeling of floating when sitting on the Cabin floating in the middle of the clouds. Visit Linh Ung Pagoda with 27m high statue of Shakyamuni Buddha, visit Ba Chua Mau Thuong Ngan temple. Visit Golden Bridge - HOT The unique bridge located in Thien Thai garden in Ba Na Hill - was built on an altitude of 1,400m above sea level, the bridge consists of 8 spans and has a length of 150m. The bridge is supported by giant hands. People walk as if lost in the middle of a fairy scene where there are clouds, the sky is immense. (Ba Na cable car ticket is self-sufficient)</p>
                            <img src="/image/53fd7eed4293d0e2df0a6ecda3b0ded3c3f8f2ef.jpg" alt="" class="w-100 mt-2 mb-1">
                            <p class="text-center"><i>Golden Bridge (Vietnam)</i></p>
                              <p><b>At noon : </b>Lunch at the restaurant at the foot of the mountain.</p>
                           <p><b>In the afternoon : </b>Depart for Hue Ancient Capital - World Cultural Heritage, go through the tunnel of Hai Van Pass, stop at Lang Co fishing village to take souvenir photos. Check in to a 4 * hotel to rest.</p>
                       
                       
                       
                       
                        </div>

                        <h2 class="text-info"><span>Conditions of tour cancellation</span> <i id="tour__cancel-btn" class="fas fa-angle-down "></i></h2>
                        <div class="container-fluid display__none" id="tour__cancel" style="padding-left: 0;">
                              <p><i class="fas fa-check"></i> Transfer to other tourist routes 20 days before departure date: No cost.</p>
                               <p><i class="fas fa-check"></i> If canceling or changing to other tours immediately after registration arrives 15-19 days before departure: Tour cancellation cost: 50% of tour deposit.</p>
                               <p><i class="fas fa-check"></i> If canceling or changing to other tours from 12-14 days before departure date: Tour cancellation cost: 100% tour deposit.</p>
                               <p><i class="fas fa-check"></i> If the tour is canceled within 08-11 days before the departure date: Tour cancellation cost: 50% of the tour price.</p>
                               <p><i class="fas fa-check"></i> If the tour is canceled within 05-07 days before the departure date: Tour cancellation cost: 70% of the tour price.</p>
                               <p><i class="fas fa-check"></i> If the tour is canceled within 02-04 days before the departure date: Tour cancellation cost: 90% of the tour fare.</p> 
                               <p><i class="fas fa-check"></i> If the tour is canceled within 1 day before the departure date: Tour cancellation cost: 100% of the tour fare.</p>
                        </div>
                     </div>
                     <div id="menu2" class="container tab-pane fade">
                        <div class="container">
                           <div class="card-textArea">
                              <div class="row">
                                 {{!-- 
                                 <div class="col-2"> <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2"> </div>
                                 --}}
                                 <div class="col-10">
                                    <div class="comment-box ml-2">
                                       <h4>Add a comment</h4>
                                       <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
                                       <div class="comment-area"> <textarea  class="form-control" placeholder="what is your view?" rows="4" id="comment"></textarea> </div>
                                                                                                        <input type="hidden" id="slug__tour" value="{{object.slug}}">
                                       <div class="comment-btns mt-2">
                                          <div class="row d-flex justify-content-right">
                                             <div class="col-4 d-flex justify-content-between" >
                                                <div class="pull-left"> <button class="btn btn-danger   btn-sm mr-2" onclick="resertComment()">Cancel</button> </div>
                                                <div class="pull-right"> <button class="btn btn-success btn-sm" id="send__comment">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row d-flex justify-content-center">
                              <div class="col-md-12">
                                 <div class="headings d-flex justify-content-between align-items-center mb-3">
                                    <h5 id="countComment">Unread comments({{count}})</h5>
                                 </div>
                              
                              <div id="contain__comment">
                                    {{#each commentList}}
                                          <div class="card p-3 mt-2">
                                             <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{this.nameAccount}}</small> <small class="font-weight-bold">{{this.comment}}</small></span> </div>
                                                <small>{{formatDateDetails this.createdAt}}</small>
                                             </div>
                                             <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                                             </div>
                                          </div>
                                    {{else}}
                                    <h2 id="not__have-comment">Not have comment. Add comment now</h2>
                                    {{/each}}
                              </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{> footer}}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/app2.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
         $('#tour__service-include-btn').click(detailsDisplayContent)
         $('#tour__service-not-include-btn').click(detailsDisplayContent)
         $('#tour__schedule-btn').click(detailsDisplayContent)
         $('#tour__cancel-btn').click(detailsDisplayContent)

         function detailsDisplayContent(event) {
            $(this).toggleClass('transform__180')
          var String = event.target.id
          var ID = String.replace("-btn",'')
          $("#"+ID).toggleClass('display__none')
         }

         AOS.init();
        var currentdate = new Date(); 
                var datetime =currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
        function resertComment() {
           $('.comment-area textarea').val('')
        }
         $('#send__comment').click(function() {
             $.post("/create-comment",
                  {
                     comment : $('#comment').val(),
                   slugTour : $('#slug__tour').val()
                  },
                  function(data, status){
                     if(data.link)
                     {
                        alert('You need login to comment this post !')
                        window.location.href = data.link
                     }
                     $('#not__have-comment').remove()
                   $('#countComment').html("Unread comments("+(data.count+1)+")");
                    $( "#contain__comment" ).prepend(` <div class="card p-3 mt-2">
                                             <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">`+data.nameAccount+`</small> <small class="font-weight-bold">`+data.comment+`</small></span> </div>
                                                <small>`+datetime+`</small>
                                             </div>
                                             <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                                             </div>
                                          </div>`);
                  });
         })
        
           
             
         
         
      </script>
   </body>
</html>