<!DOCTYPE html>
<html lang="en">
   <head>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href=".\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" type="text/css" href="/css/base.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" type="text/css" href="/css/reponsive.css">
      <link rel="stylesheet"  href="/css/bookTour.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
         .contain__img {
         padding: 20px 5px 0;
         }
         .contain__img img {
         width: 100%; vertical-align: top;
         }
         .container__left {
         top: 135px;
         position: fixed;
         right: 0;
         }
        
         .tab-pane {
         max-height: 510px;
         overflow-y: scroll;
         }
         .p {
         color: black;
         }
         .bookTour__icon {
         color: rgb(204, 204, 39);
         }
         .tourdetail__nav {
         padding: 1rem 0 1rem 0;
         border-bottom: 1px solid #f1f1f1;
         }
         .contain__main-right {
         background-color: rgba(255,255,255,0.8);
         }
         .container-fluid {
            padding-right: 0;
         }
      </style>
   </head>
   <body style="overflow-x : hidden;margin: 0;" onload="loadingFunction();">
       <div class="ontop" id="ontopbro" onclick="ontop()">
        <i class="fas fa-arrow-alt-circle-up"></i>
    </div>
     <div id="loading">
        <img src="/image/load.gif" alt="">
    </div>
      {{> header}}
      <div class="container-fluid"  id="tourDetails">
         <div class="row">
            <div class="col-lg-7 " id="container__right">
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img1}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img2}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img3}}" alt="">
               </div>
               <div class="col-sm-12 contain__img" >
                  <img style="width: 100%; vertical-align: top;" src="/{{object.img4}}" alt="">
               </div>
            </div>
            <div class="col-lg-5  container__left" id="container__left">
               <div class="container tourdetail__nav">
                  <div class="row justify-content-around">
                     <i class="fas fa-chevron-left"></i>
                     <i class="fas fa-stream"></i>
                     <i class="fas fa-chevron-right"></i>
                  </div>
               </div>
               <div class="container-fluid mt-3 contain__main-right">
                  <h2 class="ml-3" style="margin-bottom: 0%;">{{object.name}}</h2>
                  <br>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                     <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Book tour</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Description</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Comment</a>
                     </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                     <div id="home" class="container tab-pane active">
                         <div class="container"></div>
                        <br>
                        <div class="container-fluid mb-3">
                           <div class="container-fluid">
                              <div class="row">
                                 <div class="col-sm-4">
                                    <div class="row bookTour__icon">
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                    </div>
                                 </div>
                                 <div class="col-8">
                                    <p>4.44/5 <b>In</b> 395 <b>Rate</b></p>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-6">
                                    <div class="row justify-content-between align-items-center" >
                                       <i class="fas fa-eye"></i> 
                                       <p>989</p>
                                       <i class="fas fa-thumbs-up"></i> 
                                       <p>55</p>
                                       <i class="fas fa-comments"></i> 
                                       <p>0</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3">
                           <div class="row">
                              <div class="col-sm-4">
                                 <p>Date start :</p>
                              </div>
                              <div class="col-sm-6" >
                                 <p style="color: #1e90ff">{{formatDate object.startDay}}</p>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-4">
                                 <p>Time long :</p>
                              </div>
                              <div class="col-sm-8" >
                                 <p style="color: #1e90ff">{{object.time}}</p>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-4">
                                 <p>Place start :</p>
                              </div>
                              <div class="col-sm-8">
                                 <p style="color: #1e90ff">{{object.startPlace}}</p>
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3">
                           <div class="row">
                              <div class="col-5">
                                 <h4 style="color: #d52020;">{{object.price}}$</h4>
                                 <p>Remaining tours :  <b style="color: #d52020;">{{object.countLeft}}</b></p>
                              </div>
                              <div class="col-5">
                                 <a href="/bookTour/direct/{{object.slug}}" class="btn">
                                 <i class="fas fa-cart-plus"></i>
                                 Book now
                                 </a> 
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3">
                           <div class="row">
                              <h5 style="color: #1e90ff;" class="pl-3">Preferential prices when paying online</h5>
                           </div>
                           <div class="row">
                              <div class="col-5">
                                 <h4 style="color: #d52020;">Decrease 5%</h4>
                              </div>
                              <div class="col-5">
                                 <a href="/bookTour/online/{{object.slug}}" class="btn">
                                 <i class="fas fa-cart-plus"></i>
                                 Book now
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="container-fluid mb-3 tourdetail__menu1-help">
                           <div class="row">Do you need help ?</div>
                           <div class="row mt-3">
                              <img src="https://travel.com.vn/Content/ThemeHe/img/bg-phone.png" alt="">
                           </div>
                        </div>
                         <div class="contain__social">
                           <ul>
                              <li> <a href=""> <i style="color: blue;" class="fab fa-facebook"></i> </a></li>
                              <li> <a href=""> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a></li>
                              <li> <a href=""> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a></li>
                              <li> <a href=""> <i style="color: rgb(0, 162, 255);" class="fab fa-twitter"></i> </a></li>
                           </ul>
                        </div>
                     </div>
                     <div id="menu1" class="container tab-pane fade">
                        <br>
                        <h3>dectiption</h3>
                        <p>{{object.description}}</p>
                     </div>
                     <div id="menu2" class="container tab-pane fade">
                        <div class="container">
                           <div class="card-textArea">
                              <div class="row">
                                 {{!-- 
                                 <div class="col-2"> <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2"> </div>
                                 --}}
                                 <div class="col-10">
                                    <div class="comment-box ml-2">
                                       <h4>Add a comment</h4>
                                       <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
                                       <div class="comment-area"> <textarea class="form-control" placeholder="what is your view?" rows="4" id="comment"></textarea> </div>
                                                                                                        <input type="hidden" id="slug__tour" value="{{object.slug}}">
                                       <div class="comment-btns mt-2">
                                          <div class="row d-flex justify-content-right">
                                             <div class="col-4 d-flex justify-content-between" >
                                                <div class="pull-left"> <button class="btn btn-background-slide-danger  btn-sm mr-2">Cancel</button> </div>
                                                <div class="pull-right"> <button class="btn btn-background-slide  btn-sm" id="send__comment">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row d-flex justify-content-center">
                              <div class="col-md-12">
                                 <div class="headings d-flex justify-content-between align-items-center mb-3">
                                    <h5 id="countComment">Unread comments({{count}})</h5>
                                 </div>
                              
                              <div id="contain__comment">
                                    {{#each commentList}}
                                          <div class="card p-3 mt-2">
                                             <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{this.nameAccount}}</small> <small class="font-weight-bold">{{this.comment}}</small></span> </div>
                                                <small>{{formatDateDetails this.createdAt}}</small>
                                             </div>
                                             <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                                             </div>
                                          </div>
                                    {{else}}
                                    <h2 id="not__have-comment">Not have comment. Add comment now</h2>
                                    {{/each}}
                              </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{> footer}}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/app2.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
         AOS.init();
        var currentdate = new Date(); 
                var datetime =currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
 

         
         $('#send__comment').click(function() {
             $.post("/create-comment",
                  {
                     comment : $('#comment').val(),
                   slugTour : $('#slug__tour').val()
                  },
                  function(data, status){
                     if(data.link)
                     {
                        alert('You need login to comment this post !')
                        window.location.href = data.link
                     }
                     $('#not__have-comment').remove()
                   $('#countComment').html("Unread comments("+(data.count+1)+")");
                    $( "#contain__comment" ).prepend(` <div class="card p-3 mt-2">
                                             <div class="d-flex justify-content-between align-items-center">
                                                <div class="user d-flex flex-row align-items-center"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">`+data.nameAccount+`</small> <small class="font-weight-bold">`+data.comment+`</small></span> </div>
                                                <small>`+datetime+`</small>
                                             </div>
                                             <div class="action d-flex justify-content-between mt-2 align-items-center">
                                                <div class="reply px-4"> <small>Remove</small> <span class="dots"></span> <small>Reply</small> <span class="dots"></span> <small>Translate</small> </div>
                                                <div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
                                             </div>
                                          </div>`);
                  });
         })
        
           
             
         
         
      </script>
   </body>
</html>