<!DOCTYPE html>
<html lang="en">
   <head>
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="\fontawesome-free-5.15.2-web\fontawesome-free-5.15.2-web\css\all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/base.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/reponsive.css">
      <link rel="stylesheet" href="/css/bookTour.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wonder Place</title>
      <style>
         body {
             text-align: center;
         }
         .photograp__banner {
            min-height: 260px;
         }
          @media(max-width:769px) {
           .photographerDetails__body-info {
             padding-left: 2rem;
             margin-bottom: 2rem;
           }
          }
          .photographerDetails__body-imgWork img,
            .col-sm-6 img{
            width: 100%;
            box-shadow: 2px 2px 4px #999;
            border-radius: 4px;
            }

      </style>
   </head>
   <body style="overflow-x : hidden;margin: 0;" >
      <div class="ontop" id="ontopbro" onclick="ontop()">
         <i class="fas fa-arrow-alt-circle-up"></i>
      </div>
      <input type="hidden" id="about">
      <div id="loading">
         <img src="/image/load.gif" alt="">
      </div>
      {{> header}}
      <div class="container__fluid">
      <div class="photograp__banner" style="background-image: url({{item.img1}})">
            
       </div>
      
      <div class="profileHead row">
              <div class="profileHead__contain-img">
                     <img src="/{{item.img}}" alt="" >
              </div>
              
             <div>
             <h1>{{item.firstName}} {{item.lastName}} , Photographer</h1>
             <div class="contain__hotTour-infomation-star contain__tourdetails-share mb-3">
                      
                        <a href="" class="ml-1 mr-1"> <i style="color: blue;" class="fab fa-facebook"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(243, 84, 10);" class="fab fa-instagram"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: #0077b5;" class="fab fa-linkedin-in"></i> </a>
                        <a href="" class="ml-1 mr-1"> <i style="color: rgb(0, 162, 255);" class="fab fa-twitter"></i> </a>
                   
                    </div>
            <button href="" class="btn btn-success" data-toggle="modal" data-target="#photographerModal" data-city="{{this.address}}" data-name="{{item.firstName}} {{item.lastName}}" >Request a shoot</button>
             </div>
           
        
      </div>

      <div class="container pt-5 pb-5 photographerDetails__body">
       <div class="row align-items-center">
            <div class="col-sm-6 text-left photographerDetails__body-info">
           
           <div class="row align-items-center">
             <h5>ID : <span class="text-primary">{{item.id}}</span></h5>
           </div>
           <div class="row align-items-center">
             <h5>Full name : <span class="text-primary">{{item.firstName}} {{item.lastName}}</span></h5>
           </div>
           <div class="row align-items-center">
             <h5>Age : <span class="text-primary">{{item.age}}</span></h5>
           </div>
           <div class="row align-items-center">
             <h5>Style : <span class="text-primary">{{item.style}}</span></h5>
           </div>
           <div class="row align-items-center">
             <h5>Like : <span class="text-primary">{{item.like}}</span></h5>
           </div>
           <div class="row align-items-center">
             <h5>Work in : <span class="text-primary">{{item.address}}</span></h5>
           </div>
           <div class="row align-items-center">
             <h5>Language speak : <span class="text-primary">{{item.language}}</span></h5>
           </div>
            <div class="row align-items-center">
             <h5>Phone : <span class="text-primary">0{{item.phone}}</span></h5>
           </div>
            <div class="row align-items-center">
             <h5>Email : <span class="text-primary">{{item.email}}</span></h5>
           </div>
            </div>
         <div class="col-sm-6">
            <img src="{{item.img2}}" style="min-height: 220px;" class="w-100" alt="">
         </div>
      </div>
       </div>

       <div class="container-fluid mb-5">
          <h2 class="mb-4">
             Some {{item.lastName   }}'s Latest Work
          </h2>
          <div class="row">
             <div class="col-md-4 mt-4">
                <div class="photographerDetails__body-imgWork">
                   <img src="{{item.img1}}"  alt="">
                </div>
             </div>
             
             <div class="col-md-4 mt-4">
                <div class="photographerDetails__body-imgWork">
                   <img src="{{item.img2}}"  alt="">
                </div>
             </div>

             <div class="col-md-4 mt-4">
                <div class="photographerDetails__body-imgWork">
                   <img src="{{item.img3}}"  alt="">
                </div>
             </div>
          </div>
       </div>
      </div>
        {{!-- modal book photographer  --}} 
       <div class="modal" tabindex="-1" id="photographerModal">
        <div class="modal-dialog">
            <div class="modal-content">
            
            <div class="modal-body" style="border: none;">
                <div class="modal-boy-child1 text-left">
                  <div class="form">
               <form>
               <div class="form-group">
                  <label for="exampleFormControlInput1">Enter your name</label>
                  <input required type="text" class="form-control" id="exampleFormControlInput1">
               </div>
               <div class="form-group">
                  <label for="exampleFormControlInput1">Enter your phone</label>
                  <input required type="number" class="form-control" id="exampleFormControlInput1">
               </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Enter date</label>
                  <input required type="date" class="form-control" id="exampleFormControlInput1">
               </div>
              
               
               <div class="form-group">
                  <label for="exampleFormControlTextarea1">Tell us more about your photoshoot *
               (Knowing some details of your trip like the number of participants and what is the occasion, will help us provide the best experience for you.)</label>
                  <textarea  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
               </div>
              </form>
            </div>
              </div>
              <div class="modal-boy-child2">
                  
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="showSuccessToast">Yes</button>
            </div>
            </div>
        </div>
        </div>
       {{!-- close modal --}}
       {{!-- toast success  --}}
         <!-- Flexbox container for aligning the toasts -->
          

            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500" style="position: fixed;top: 40%;left:50%;transform: translate(-50%,-50%);background-color: #23c22b;width: 300px;">
                <div class="toast-header">
               
                <strong class="mr-auto">Success</strong>
                <small>5 seconds ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="toast-body">
                <p class="text-light">You have successfully booked this photographer</p>
                </div>
            </div>
            
       {{!-- close toast --}}
      {{> footer}}
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
      <script src="/js/app.js"></script>
      <script src="/js/app2.js"></script>
      <script>
      </script>
   </body>
</html>