{{>adminHeader}}

<div class="col-sm-12">
  <div class="container-fluid " style="margin-top: 5rem;padding-left: 75px;">
  <form action="/admin/all-list/execute" method="post" id="formControl" >
  <h2>List all tour</h2>
  <a href="/admin/all-list/trash">Thùng rác <span>{{countDeleted}}</span> </a>

  <div class="mt-4 mb-4 d-flex align-items-center">

             
   
    
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
            Check all 
        </label>
       </div>

            <div class=" ml-4 mr-4">
              <select name="action" class="form-control form-control-sm" required id="select__action"  style="padding: 0;">
                <option value="0">-- Choose action --</option>
                <option value="delete">Delete</option>
              </select>
            </div>

            <button class="btn btn-primary btn-sm" type="submit"  id="btn-submit-formControl" disabled>Execute</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
      
          <th colspan="2">#</th>
        <th>Name  {{{sortable 'name' _sort}}}</th>
        <th>Image</th>
        <th>Start day</th>
        <th>Time</th>
        <th>Start place</th>
        <th class="d-flex align-items-center">Price {{{sortable 'price' _sort}}} </th>
         <th>Sale</th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
    </thead>
    <tbody>
      
          {{#each listAll}}
          <tr>
            <td>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="tourIds" value="{{this._id}}">
             
            </div>
                 
             </td>
              <td>{{sum @index 1}}</td>
        <td>{{this.name}} </td>
        <td><img style="width: 150px;" src="/{{this.img}}" alt=""></td>
        <td>{{this.startDay}}</td>
        <td>{{this.time}}</td>
        <td>{{this.startPlace}}</td>
        <td>{{this.price}}</td>
        <td>{{this.priceSale}}</td>
        <td><a href="/tours/{{this.slug}}" class="btn btn-success">Details</a></td>
        <td><a href=""  class="btn btn-danger" data-id="{{this._id}}"  data-toggle="modal" data-target="#delete-tour">Delete</a></td>
        <td><a href="/admin/updateTour/{{this._id}}" class="btn btn-warning">Edit</a></td>
        </tr>
          {{else}}
         <td colspan="5"> Danh sách tour đang bị trống. <a href="/amdin/createTour">Thêm tour ngay</a> </td>
          {{/each}}
      
    </tbody>
  </table>
  </form>
</div>
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" id="delete-tour">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DELETE TOUR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="deleteConfim()">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<style>
.table td, .table th {
         white-space: normal !important;
         padding : 1.05rem .4rem !important	;
         }
 
         
</style>
 {{!-- end modal  --}}

    <form  name="form__idTour" method="post"></form>
 <script src="/assets/js/vendor-all.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/js/pcoded.min.js"></script>
	<script src="/assets/js/main.js"></script>
<script>
  
 var form = document.forms['form__idTour'];
  var idTour;
    $('#delete-tour').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
 idTour = button.data('id') 
})
 
  function deleteConfim() {
    form.action = "/admin/deleteTour/"+idTour+"?_method=DELETE";
    form.submit();
      }
    // check all
 
  var inputsItemCheckbox = $('input[name="tourIds"]');
  var checkboxAll = $('#gridCheck1');

checkboxAll.change(function(event){
  var isCheckedAll = $(this).prop('checked');
  inputsItemCheckbox.prop('checked',isCheckedAll);
  checkBtnFormColtrol();
});

   inputsItemCheckbox.change(function () {
     var isCheckedAlll = inputsItemCheckbox.length === $('input[name="tourIds"]:checked').length;
    checkboxAll.prop('checked',isCheckedAlll);
    checkBtnFormColtrol();
   });

  function checkBtnFormColtrol() {
      
      if($('input[name="tourIds"]:checked').length > 0) 
      {
        $('#btn-submit-formControl').removeAttr('disabled');
      }
      else
      {
        $('#btn-submit-formControl').attr('disabled',"disabled");
      }
  }
  
  $('#formControl').submit(function(event) {
    if($('#select__action').val() === '0') {
      event.preventDefault();
      alert("Please choose your action");
    }
  })
</script>
</body>

</html>

